<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="icon" href="<%= BASE_URL %>favicons/favicon_16.png">
	<link rel="icon" href="<%= BASE_URL %>favicons/favicon_32.png">
	<link rel="icon" href="<%= BASE_URL %>favicons/favicon_128.png">
	<title>Napster | Vue Concept</title>
</head>

<body>
	<noscript>
		<strong>We're sorry but deezer doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
	</noscript>
	<div id="app"></div>
	<!-- built files will be auto injected -->
</body>

</html>