
:root{
    --red: #FF0075;
    --orange: #fa6219;
    --yellow: #fdb813;
    --purple: #3e1292;
    --purple_light: #4718a2;
    --green: #12ffb9;
    --blue: #2ca6de;
    --blue2: #0066ff;
    --white: white;
    --gray: #e8e8e8;
    --gray_light: #f9f9f9;
    --dark: #051023;
    --dark2: #111b2b;
    --dark3: #0b1425;
    --dark4: #0c1627;
    --darker: #020c1f;
    --blue-dark: #09162d;
}

/* #region Global */
    .logo{
        background: url("../images/logos/gradient.svg") no-repeat 0 center / 120px;
        width: 150px;
        height: 40px;
        display: block;
    }
    .logo.logo--white{
        background: url("../images/logos/white.svg") no-repeat 0 center / 120px;
    }
    .like-button{
        background: url("../images/icons/like_white.svg") no-repeat center / 20px;
    }
    .like-button:hover{
        opacity: 1;
    }
    .like-button.like-button--active{
        background: url("../images/icons/like_gradient.svg") no-repeat center / 20px;
        opacity: 1;
    }
    .like-button.like-button--small{
        background-size: 15px;
    }
    .like-button.like-button--medium{
        background-size: 25px;
    }

    .loading-items i{
        background: url("../images/loading/loading.svg") no-repeat 0 center / 20px; 
    }

    .separator-line{
        content: "";
        background: linear-gradient(to right, #051023, #0d1c33, #051023);
        width: calc(100% - 80px);
        height: 1px;
        position: relative;
        margin-bottom: 80px;
    }

    /* Track List */
        .track-row--active .track-name{
            color: var(--red);
            font-weight: 500;
        }
    /* .Track List */
/* #endregion Globals */

/* #region Colors  */
    .color-white{
        color: var(--white);
    }
    .color-dark{
        color: var(--dark);
    }
    .color-dark-2{
        color: var(--dark2);
    }
    .color-dark-3{
        color: var(--dark3);
    }
    .color-darker{
        color: var(--darker);
    }
    .color-gray{
        color: var(--gray);
    }
    .color-gray-light{
        color: var(--gray_light);
    }
    .color-yellow{
        color: var(--yellow);
    }
    .color-orange{
        color: var(--orange);
    }
    .color-green{
        color: var(--green);
    }
    .color-blue{
        color: var(--blue);
    }
    .color-blue2{
        color: var(--blue2);
    }
    .color-blue-dark{
        color: var(--blue-dark);
    }
    .color-red{
        color: var(--red);
    }
    .color-purple{
        color: var(--purple);
    }
/* #endregion Colors  */

/* #region BgColors  */
    .bg-white{
        background-color: var(--white);;
    }
    .bg-gray{
        background-color: var(--gray);
    }
    .bg-gray-light{
        background-color: var(--gray_light);
    }
    .bg-dark{
        background-color: var(--dark);
    }
    .bg-dark-2{
        background-color: var(--dark2);
    }
    .bg-dark-3{
        background-color: var(--dark3);
    }
    .bg-dark-4{
        background-color: var(--dark4);
    }
    .bg-darker{
        background-color: var(--darker);
    }
    .bg-green{
        background-color: var(--green);
    }
    .bg-blue{
        background-color: var(--blue);
    }
    .bg-blue2{
        background-color: var(--blue2);
    }
    .bg-blue-dark{
        background-color: var(--blue-dark);
    }
    .bg-red{
        background-color: var(--red);
    }
    .bg-yellow{
        background-color: var(--yellow);
    }
    .bg-purple{
        background-color: var(--purple);
    }
    .bg-purple-light{
        background-color: var(--purple_light);
    }
    .bg-transparent{
        background-color: transparent;
    }
    .bg-gradient{
        background-image: linear-gradient(var(--red), var(--orange));
    }
/* #endregion BgColors  */

/* #region Font Size */
    .font-0{
        font-size: 0;
    }
    .font-10{
        font-size: 10px;
    }
    .font-12{
        font-size: 12px;
    }
    .font-13{
        font-size: 13px;
    }
    .font-14{
        font-size: 14px;
    }
    .font-16{
        font-size: 16px;
    }
    .font-18{
        font-size: 18px;
    }
    .font-20{
        font-size: 20px;
    }
    .font-22{
        font-size: 22px;
    }
    .font-24{
        font-size: 24px;
    }
    .font-26{
        font-size: 26px;
    }
    .font-28{
        font-size: 28px;
    }
    .font-30{
        font-size: 30px;
    }
    .font-32{
        font-size: 32px;
    }
    .font-48{
        font-size: 48px;
    }
    .font-54{
        font-size: 54px;
    }
/* #endregion Font Size */

/* #region Font Weight */
    .font-weight-100{
        font-weight: 100;
    }
    .font-weight-200{
        font-weight: 200;
    }
    .font-weight-300{
        font-weight: 300;
    }
    .font-weight-400{
        font-weight: 400;
    }
    .font-weight-500{
        font-weight: 500;
    }
    .font-weight-600{
        font-weight: 600;
    }
    .font-weight-700{
        font-weight: 700;
    }
    .font-weight-800{
        font-weight: 800;
    }
/* #endregion Font Weight */

/* #region */
    .italic{
        font-style: italic;
    }
/* #endregion */

/* #region Letter Spacing */
    .spacing-1{
        letter-spacing: 1px;
    }
    .spacing-2{
        letter-spacing: 2px;
    }
    .spacing-3{
        letter-spacing: 3px;
    }
/* #endregion Letter Spacing */

/* #region Line height */
    .lh-1{
        line-height: 1;
    }
    .lh-11{
        line-height: 1.1;
    }
    .lh-12{
        line-height: 1.2;
    }
    .lh-13{
        line-height: 1.3;
    }
    .lh-14{
        line-height: 1.4;
    }
    .lh-2{
        line-height: 2;
    }

/* #endregion Line height */

/* #region Margins */
    .m-auto{
        margin: auto;
    }
    .m-0-auto{
        margin: 0 auto;
    }
    .m-initial{
        margin: initial;
    }

    .m-0{
        margin: 0;
    }
    .m-5{
        margin: 5px;
    }
    .m-10{
        margin: 10px;
    }
    .m-15{
        margin: 15px;
    }
    .m-20{
        margin: 20px;
    }
    .m-30{
        margin: 30px;
    }
    .m-40{
        margin: 40px;
    }
    .m-50{
        margin: 50px;
    }
    .m-60{
        margin: 60px;
    }

    .mt-0{
        margin-top: 0;
    }
    .mt-5{
        margin-top: 5px;
    }
    .mt-7{
        margin-top: 7px;
    }
    .mt-10{
        margin-top: 10px;
    }
    .mt-15{
        margin-top: 15px;
    }
    .mt-20{
        margin-top: 20px;
    }
    .mt-30{
        margin-top: 30px;
    }
    .mt-40{
        margin-top: 40px;
    }
    .mt-50{
        margin-top: 50px;
    }
    .mt-60{
        margin-top: 60px;
    }
    .mt-70{
        margin-top: 70px;
    }
    .mt-80{
        margin-top: 80px;
    }
    .mt-90{
        margin-top: 90px;
    }
    .mt-100{
        margin-top: 100px;
    }

    .mr-0{
        margin-right: 0;
    }
    .mr-5{
        margin-right: 5px;
    }
    .mr-10{
        margin-right: 10px;
    }
    .mr-15{
        margin-right: 15px;
    }
    .mr-20{
        margin-right: 20px;
    }
    .mr-30{
        margin-right: 30px;
    }
    .mr-40{
        margin-right: 40px;
    }
    .mr-50{
        margin-right: 50px;
    }
    .mr-60{
        margin-right: 60px;
    }

    .mb-0{
        margin-bottom: 0;
    }
    .mb-5{
        margin-bottom: 5px;
    }
    .mb-10{
        margin-bottom: 10px;
    }
    .mb-15{
        margin-bottom: 15px;
    }
    .mb-20{
        margin-bottom: 20px;
    }
    .mb-30{
        margin-bottom: 30px;
    }
    .mb-40{
        margin-bottom: 40px;
    }
    .mb-50{
        margin-bottom: 50px;
    }
    .mb-60{
        margin-bottom: 60px;
    }
    .mb-70{
        margin-bottom: 70px;
    }
    .mb-80{
        margin-bottom: 80px;
    }
    .mb-90{
        margin-bottom: 90px;
    }
    .mb-100{
        margin-bottom: 100px;
    }

    .ml-0{
        margin-left: 0;
    }
    .ml-5{
        margin-left: 5px;
    }
    .ml-10{
        margin-left: 10px;
    }
    .ml-15{
        margin-left: 15px;
    }
    .ml-20{
        margin-left: 20px;
    }
    .ml-30{
        margin-left: 30px;
    }
    .ml-40{
        margin-left: 40px;
    }
    .ml-50{
        margin-left: 50px;
    }
    .ml-60{
        margin-left: 60px;
    }
/* #endregion Margins */

/* #region Paddings */
    .p-0{
        padding: 0;
    }
    .p-5{
        padding: 5px;
    }
    .p-10{
        padding: 10px;
    }
    .p-15{
        padding: 15px;
    }
    .p-20{
        padding: 20px;
    }
    .p-30{
        padding: 30px;
    }
    .p-40{
        padding: 40px;
    }
    .p-50{
        padding: 50px;
    }
    .p-60{
        padding: 60px;
    }
    .p-70{
        padding: 70px;
    }
    .p-80{
        padding: 80px;
    }
    .p-90{
        padding: 90px;
    }
    .p-100{
        padding: 100px;
    }
    .pt-0{
        padding-top: 0;
    }
    .pt-5{
        padding-top: 5px;
    }
    .pt-10{
        padding-top: 10px;
    }
    .pt-15{
        padding-top: 15px;
    }
    .pt-20{
        padding-top: 20px;
    }
    .pt-30{
        padding-top: 30px;
    }
    .pt-40{
        padding-top: 40px;
    }
    .pt-50{
        padding-top: 50px;
    }
    .pt-60{
        padding-top: 60px;
    }
    .pt-80{
        padding-top: 80px;
    }
    .pt-90{
        padding-top: 90px;
    }
    .pt-100{
        padding-top: 100px;
    }
    .pt-110{
        padding-top: 110px;
    }

    .pr-0{
        padding-right: 0;
    }
    .pr-5{
        padding-right: 5px;
    }
    .pr-10{
        padding-right: 10px;
    }
    .pr-15{
        padding-right: 15px;
    }
    .pr-20{
        padding-right: 20px;
    }
    .pr-30{
        padding-right: 30px;
    }
    .pr-40{
        padding-right: 40px;
    }
    .pr-50{
        padding-right: 50px;
    }
    .pr-60{
        padding-right: 60px;
    }
    .pr-70{
        padding-right: 70px;
    }
    .pr-80{
        padding-right: 80px;
    }
    .pr-90{
        padding-right: 90px;
    }
    .pr-100{
        padding-right: 100px;
    }

    .pb-0{
        padding-bottom: 0;
    }
    .pb-5{
        padding-bottom: 5px;
    }
    .pb-10{
        padding-bottom: 10px;
    }
    .pb-15{
        padding-bottom: 15px;
    }
    .pb-20{
        padding-bottom: 20px;
    }
    .pb-30{
        padding-bottom: 30px;
    }
    .pb-40{
        padding-bottom: 40px;
    }
    .pb-50{
        padding-bottom: 50px;
    }
    .pb-60{
        padding-bottom: 60px;
    }
    .pb-70{
        padding-bottom: 70px;
    }
    .pb-80{
        padding-bottom: 80px;
    }
    .pb-90{
        padding-bottom: 90px;
    }
    .pb-100{
        padding-bottom: 100px;
    }

    .pl-0{
        padding-left: 0;
    }
    .pl-5{
        padding-left: 5px;
    }
    .pl-10{
        padding-left: 10px;
    }
    .pl-15{
        padding-left: 15px;
    }
    .pl-20{
        padding-left: 20px;
    }
    .pl-25{
        padding-left: 25px;
    }
    .pl-30{
        padding-left: 30px;
    }
    .pl-40{
        padding-left: 40px;
    }
    .pl-50{
        padding-left: 50px;
    }
    .pl-60{
        padding-left: 60px;
    }
    .pl-70{
        padding-left: 70px;
    }
    .pl-80{
        padding-left: 80px;
    }
    .pl-90{
        padding-left: 90px;
    }
    .pl-100{
        padding-left: 100px;
    }
/* #endregion Paddings */

/* #region Width */
    .w-10{
        width: 10%;
    }
    .w-15{
        width: 15%;
    }
    .w-20{
        width: 20%;
    }
    .w-30{
        width: 30%;
    }
    .w-33{
        width: 32%;
    }
    .w-40{
        width: 40%;
    }
    .w-50{
        width: 50%;
    }
    .w-60{
        width: 60%;
    }
    .w-70{
        width: 70%;
    }
    .w-80{
        width: 80%;
    }
    .w-100{
        width: 100%;
    }
    .w-100-vh{
        width: 100vh;
    }

    .w-2-p{
        width: 2px;
    }
    .w-5-p{
        width: 5px;
    }
    .w-10-p{
        width: 10px;
    }
    .w-15-p{
        width: 15px;
    }
    .w-20-p{
        width: 20px;
    }
    .w-30-p{
        width: 30px;
    }
    .w-33-p{
        width: 32px;
    }
    .w-40-p{
        width: 40px;
    }
    .w-50-p{
        width: 50px;
    }
    .w-60-p{
        width: 60px;
    }
    .w-70-p{
        width: 70px;
    }
    .w-80-p{
        width: 80px;
    }
    .w-100-p{
        width: 100px;
    }
    .w-120-p{
        width: 120px;
    }
    .w-130-p{
        width: 130px;
    }
    .w-140-p{
        width: 140px;
    }
    .w-150-p{
        width: 150px;
    }
    .w-180-p{
        width: 180px;
    }
    .w-200-p{
        width: 200px;
    }
    .w-230-p{
        width: 230px;
    }
    .w-260-p{
        width: 260px;
    }
    .w-300-p{
        width: 300px;
    }
    .w-330-p{
        width: 330px;
    }


    .w-auto{
        width: auto;
    }
    .max-w-400{
        max-width: 400px;
    }
    .max-w-480{
        max-width: 480px;
    }
/* #endregion Width */

/* #region Height */
    .h-10{
        height: 10%;
    }
    .h-20{
        height: 20%;
    }
    .h-30{
        height: 30%;
    }
    .h-40{
        height: 40%;
    }
    .h-50{
        height: 50%;
    }
    .h-100{
        height: 100%;
    }
    .h-100-vh{
        height: 100vh;
    }
    .mh-100-vh{
        min-height: 100vh;
    }

    .h-1-p{
        height: 1px;
    }
    .h-2-p{
        height: 2px;
    }
    .h-5-p{
        height: 5px;
    }
    .h-10-p{
        height: 10px;
    }
    .h-15-p{
        height: 15px;
    }
    .h-20-p{
        height: 20px;
    }
    .h-30-p{
        height: 30px;
    }
    .h-40-p{
        height: 40px;
    }
    .h-50-p{
        height: 50px;
    }
    .h-60-p{
        height: 60px;
    }
    .h-70-p{
        height: 70px;
    }
    .h-80-p{
        height: 80px;
    }
    .h-90-p{
        height: 90px;
    }
    .h-100-p{
        height: 100px;
    }


    .h-auto{
        height: auto;
    }
/* #endregion Height */

/* #region Positions */
    .relative{
        position: relative;
    }
    .absolute{
        position: absolute;
    }
    .fixed{
        position: fixed;
    }
    .absolute-h-center{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }
    .absolute-v-center{
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .trasform-v-center{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    /* Left */
        .pos-left{
            left: 0;
            right: auto;
        }
        .left-10{
            left: 10%;
        }
        .left-20{
            left: 20%;
        }
        .left-30{
            left: 30%;
        }
        .left-40{
            left: 40%;
        }
        .left-50{
            left: 50%;
        }
    /* .Left */
    
    /* Right */
        .pos-right{
            left: auto;
            right: 0;
        }
        .right-10{
            right: 10%;
        }
        .right-20{
            right: 20%;
        }
        .right-30{
            right: 30%;
        }
        .right-40{
            right: 40%;
        }
        .right-50{
            right: 50%;
        }

        .right-10-p{
            right: 10px;
        }
        .right-20-p{
            right: 20px;
        }
        .right-30-p{
            right: 30px;
        }
        .right-40-p{
            right: 40px;
        }
        .right-50-p{
            right: 50px;
        }
        .right-60-p{
            right: 60px;
        }
    /*. Right */
    
    /* Top */
        .pos-top{
            top: 0;
            bottom: auto;
        }
        .top-10{
            top: 10%;
        }
        .top-20{
            top: 20%;
        }
        .top-30{
            top: 30%;
        }
        .top-40{
            top: 40%;
        }
        .top-50{
            top: 50%;
        }
    /* .Top */

    /* Bottom */
        .pos-bottom{
            top: auto;
            bottom: 0;
        }
        .bottom-10{
            bottom: 10%;
        }
        .bottom-20{
            bottom: 20%;
        }
        .bottom-30{
            bottom: 30%;
        }
        .bottom-40{
            bottom: 40%;
        }
        .bottom-50{
            bottom: 50%;
        }

        .bottom-10-p{
            bottom: 10px;
        }
        .bottom-20-p{
            bottom: 20px;
        }
        .bottom-30-p{
            bottom: 30px;
        }
        .bottom-40-p{
            bottom: 40px;
        }
        .bottom-50-p{
            bottom: 50px;
        }
    /* .Bottom */
/* #endregion Positions */

/* #region Z-Index */
    .z-index-1{
        z-index: 1;
    }
    .z-index-2{
        z-index: 2;
    }
    .z-index-3{
        z-index: 3;
    }
    .z-index-4{
        z-index: 4;
    }
    .z-index-999{
        z-index: 999;
    }
/* #endregion Z-Index */

/* #region Overflow */
    .overflow-h{
        overflow: hidden;
    }
    .overflow-v{
        overflow: visible;
    }
    .overflow-i{
        overflow: initial;
    }
    .overflow-s{
        overflow: scroll;
    }
/* #endregion Overflow */

/* #region FoldTitle */
    .fold-title.left-bg{
        background-position: 0 0;
    }
    .fold-title.fold-title--no-bg{
        background: none;
        padding: 0;
    }
/* #endregion Foldtitle */

/* #region Displays */
    .d-block{
        display: block;
    }
    .d-flex{
        display: flex;
    }
    .d-flex-inline{
        display: inline-flex;
    }
    .d-inline{
        display: inline;
    }
    .d-inline-block{
        display: inline-block;
        vertical-align: top;
    }
    .d-none{
        display: none;
    }

    .vertical-top{
        vertical-align: top;
    }
    .vertical-middle{
        vertical-align: middle;
    }
/* #endregion Displays */

/* #region Flex */
    .flex-row {
        flex-direction: row;
    }

    .flex-row-reverse {
        flex-direction: row-reverse;
    }

    .flex-column {
        flex-direction: column;
    }

    .flex-column-reverse {
        flex-direction: column-reverse;
    }

    .flex-self-start {
        align-self: flex-start;
    }

    .flex-start {
        justify-content: flex-start;
        text-align: start;
    }

    .flex-center {
        justify-content: center;
    }

    .flex-evenly {
        justify-content: space-evenly;
    }

    .flex-around {
        justify-content: space-around;
    }

    .flex-end {
        justify-content: flex-end;
    }

    .flex-top {
        align-items: top;
    }

    .flex-middle {
        align-items: center;
    }

    .flex-bottom {
        align-items: flex-end;
    }

    .flex-around {
        justify-content: space-around;
    }

    .flex-between {
        justify-content: space-between;
    }

    .flex-wrap{
        flex-wrap: wrap;
    }

    .flex-1 {
        flex: 1;
    }
/* #endregion Flex */

/* #region Floats */
    .f-left{
        float: left;
    }
    .f-right{
        float: right;
    }
    .f-none{
        float: none;
    }
/* #endregion Floats */

/* #region Rounded & Circled */
    .rounded{
        border-radius: 4px;
    }
    .circled{
        border-radius: 50%;
    }
/* #endregion Rounded & Circled */

/* #region Text Aligns */
    .align-left{
        text-align: left;
    }
    .align-right{
        text-align: right;
    }
    .align-center{
        text-align: center;
    }
    .align-justify{
        text-align: justify;
    }
/* #endregion Text Aligns */

/* #region Borders */
    .border{
        border: 1px solid;
    }
    .border-2{
        border: 2px solid;
    }
    .border-circled{
        border-radius: 50%;
    }
    .border-rounded{
        border-radius: 4px;
    }
    .border-b{
        border-bottom: 1px solid;
    }
    .border-gray{
        border-color: #DFDFDF;
    }
    .border-purple{
        border-color: #974EBC;
    }
    .border-dark{
        border-color: var(--dark);
    }
    .border-dark-2{
        border-color: var(--dark2);
    }
    .border-dark-3{
        border-color: var(--dark3);
    }
    .border-dark-4{
        border-color: var(--dark4);
    }
/* #endregion Borders */

/* #region Transform */
    .uppercase{
        text-transform: uppercase;
    }
    .lowercase{
        text-transform: lowercase;
    }
    .capitalize{
        text-transform: capitalize;
    }
/* #endregion Transform */

/* #region Opacity */
    .opacity-0{
        opacity: 0;
    }
    .opacity-1{
        opacity: 1;
    }
    .opacity-2{
        opacity: 0.2;
    }
    .opacity-3{
        opacity: 0.3;
    }
    .opacity-4{
        opacity: 0.4;
    }
    .opacity-5{
        opacity: 0.5;
    }
    .opacity-6{
        opacity: 0.6;
    }
    .opacity-7{
        opacity: 0.7;
    }
    .opacity-8{
        opacity: 0.8;
    }
    .opacity-9{
        opacity: 0.9;
    }
/* #endregion Opacity */

/* #region Text Decorations */
    .underline{
        text-decoration: underline;
    }
    .no-decoration{
        text-decoration: none;
    }
/* #endregion Text Decorations */

/* #region Shadow */
    .shadow{
        box-shadow: 0 0 6px var(--gray);
    }
/* #endregion Shadow */

/* #region Cursors */

    .c-pointer{
        cursor: pointer;
    }
    .c-text{
        cursor: text;
    }
    .c-default{
        cursor: default;
    }
    .c-move{
        cursor: move;
    }
/* #endregion Cursors */

/* #region Box-sizing */
    .box-sizing-initial{
        box-sizing: initial;
    }
    .box-sizing-border{
        box-sizing: border-box;
    }
/* #endregion Box-sizing */

/* #region Truncate */
    .truncate {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
/* #endregion Truncate */

/* #region Table  */
    .table{
        border-collapse: separate;
        border-spacing: 0px 10px;
    }
    .table tr:nth-child(even){
        /* background: #f5f5f5; */
    }
    .table .track-name span{
        transition: all .2s ease;
    }
    .table tr td.like{
        width: 40px;
    }
    .table tbody tr{
        background: var(--dark4);
    }
/* #endregion Table  */

/* #region Form */
    .input{
        border: 0;
        border-bottom: 1px solid #141d2d;
        background: transparent;
        color: white;
        padding: 10px 0;
        font-size: 15px;
    }
    .input:disabled{
        color: #ffffff33;
    }
    .input--search{
        background-image: url("../images/icons/search_gray.svg");
        background-repeat: no-repeat;
        background-position: calc(100% - 20px) 50%;
        background-size: 15px;
        border: 0;
        padding: 0 20px;
    }
    .input--bg-blue-gray{
        background-color: #d7deea;
        border-color: #c9d1de;
    }
    .input--bg-darker{
        background-color: var(--darker);
        border-color: var(--darker);
        color: white;
    }
    .input--bg-blue-dark{
        background-color: var(--blue-dark);
        border-color: var(--blue-dark);
        color: white;
    }
    .input--bg-purple{
        background-color: var(--purple);
        border-color: var(--purple);
        color: white;
    }
    .input--bg-transparent{
        background-color: transparent;
        border-color: transparent;
        color: white;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #2b3a52;
        opacity: 1; /* Firefox */
    }
      
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #2b3a52;
    }
      
    ::-ms-input-placeholder { /* Microsoft Edge */
        color: #2b3a52;
    }

    .button{
        color: white;
        font-size: 12px;
        font-weight: 600;
        border-radius: 20px;
        display: inline-block;
        padding: 10px 40px;
        border: 0;
        background-image: linear-gradient(to right, #FF0075 , #fa6219);
        position: relative;
        cursor: pointer;
    }
    .button--border{
        background-image: none;
        border: 1px solid #fa6219;
    }
    .button:hover{
        box-shadow: 0 0 16px #FF0075;
    }
    .button.loading:after,
    .button.loading:before{
        content: "";
        position: absolute;
        background-image: linear-gradient(to right, #FF0075 , #fa6219);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
    .button.loading:before{
        background-image: url("../images/loading/submit.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
        z-index: 1;
    }

    .search-form input{
        font-size: 12px;
        padding: 10px;
    }
/* #endregion Form */

/* #region Gradients */
    .gradient-white-transp{
        background-image: linear-gradient(white, transparent);
    }
    .gradient-transp-white{
        background-image: linear-gradient(transparent, white);
    }

    .gradient-dark-transp{
        background-image: linear-gradient(#051124, transparent);
    }
    .gradient-transp-dark{
        background-image: linear-gradient(transparent, #051124);
    }
/* #endregion Gradients  */

/* #region Transitions */
    .transition-2{
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
    }
/* #endregion Transitions */