<template>
	<section class="mh-100-vh bg-dark pb-40">
		<TopPage :title="album_title" subtitle="- album -" :smalltitle="album_tracks.length + ' tracks'" :author="album_artist" :bg_image="album_image" bg_position="center -400px" margin="no-margin"/>

		<div class="top-album-bar relative p-40 mb-20">
			<div class="wrapper d-flex pl-40">
				<!-- Play All -->
					<div class="play-all-button d-inline-block c-pointer mr-10">
						<div class="play-button d-flex h-50-p bg-dark-2 p-10 pl-20 pr-20 rounded" @click="playAll" :class="{'is_not_paused': is_paused}">
							<img :src="PlayIcon" width="18">
							<span class="ml-10 lh-2" v-text="'Play'"></span>
						</div>

						<div class="pause-button d-flex h-50-p bg-dark-2 p-10 pl-20 pr-20 rounded" @click="pauseTrack" :class="{'is_paused': is_paused}">
							<img :src="PauseIcon" width="16">
							<span class="ml-10 lh-2" v-text="'Pause'"></span>
						</div>
					</div>
				<!-- .Play All -->

				<div class="h-50-p bg-dark-2 w-300-p rounded">
					<input type="text" class="input input--search input--bg-transparent h-100 w-100" placeholder="Filter" v-model="filter">
				</div>

				<div class="rounded ml-10 h-50-p w-60-p bg-dark-2 c-pointer">
					<i class="like-button w-100 h-100 d-block" @click="likeAlbum" :class="{'like-button--active' : albums_liked.includes(album_id)}"></i>
				</div>
			</div>
		</div>

		<!-- Loading -->
			<div class="wrapper">
				<div class="loading-items w-100 font-16 mt-15 align-left p-40 pt-20 pb-0 font-weight-500 d-flex flex-middle" v-if="loading">
					<span v-text="'Loading tracks'"></span>
					<i class="d-block h-10-p w-20-p ml-5"></i>
				</div>
			</div>
		<!-- .Loading -->
		
		<div class="album-list" v-if="!loading">
			<div class="wrapper d-flex">
				<table class="table w-100 pl-40 pr-20 font-14 mb-60">
					<thead>
						<tr v-if="filteredTracks.length">
							<td class="p-10 w-10-p pr-15"></td>
							<td class="p-10 pl-0 pr-5 w-20-p align-center" v-text="'Track'"></td>
							<td class="pt-10 pr-20 pb-10 pl-20" v-text="'Title'"></td>
							<td class="p-10 w-70-p align-center" v-text="'Like'"></td>
							<td class="p-10 align-right w-70-p" v-text="'Duration'"></td>
						</tr>
					</thead>
					
					<caption class="w-100 font-18 mt-15 align-left pl-40" v-if="filteredTracks.length == 0">There are no tracks with this name :(</caption>
					
					<tbody>
						<tr v-for="(track, index) in filteredTracks" :key="index" class="rounded mb-10 overflow-h track-row" :class="{'track-row--active' : track_playing === track.id}">
							<td class="p-0">
								<div class="play-button h-40-p w-60-p c-pointer" :class="{'is_paused' : is_paused}" @click="playTrack(index)" :style="{'background' : 'url(' + PlayIcon + ') no-repeat center / 12px'}"></div>
								<div class="pause-button h-40-p w-60-p c-pointer" :class="{'is_paused' : is_paused}" @click="pauseTrack" :style="{'background' : 'url(' + PauseIcon + ') no-repeat 23px center / 11px'}"></div>
							</td>
							<td class="p-15 pl-0 pr-5 w-20-p align-center" :class="{'opacity-4 disable' : !track.url}" v-text="index + 1"></td>
							<td class="pt-15 pr-20 pb-15 pl-20 track-name">
								<span className="font-14 m-0 truncate" :class="{'opacity-4 disable' : !track.url}" v-text="track.name"></span>
							</td>
							<td class="track-actions d-flex flex-around">
								<div class="like-button like-button--small w-100 h-40-p c-pointer opacity-3" :class="{'like-button--active' : tracks_liked.includes(album_id + '@' + track.id)}" @click="likeTrack(track.id)"></div>
							</td>
							<td class="p-15 align-right font-14" :class="{'opacity-4 disable' : !track.url}" v-text="getTrackTime(track.time)"></td>
						</tr>
					</tbody>
				</table>

				<div class="featured-albums w-230-p mr-20">
					<h2 class="m-0 mt-20 mb-20 pl-15 font-16" v-text="'Featured Albums'"></h2>
					<MiniCard 
						v-for="(album, index) in featured_albums"
						:key="index"
						:id="album.id"
						:title="album.title"
						:subtitle="album.subtitle"
						:image="album.image"
						:type="album.type"
						class="mb-20"
					/>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
	import ApiService from '@/services/api'

	import { Keys } from '../config/keys.js'
	import { Headers } from '../config/headers.js'

	import TopPage from '../components/TopPage'
	import MiniCard from '../components/MiniCard'

	import PlayIcon from '../assets/images/player/play_gradient.svg'
	import PauseIcon from '../assets/images/player/pause_gradient.svg'

	// Vuex
	import { mapGetters, mapActions } from 'vuex'
	
	export default {
		components: { 
			TopPage, 
			MiniCard 
		},

		data() {
			return {
				keys: Keys,
				headers: Headers,

				loading: true,
				play_all: false,
				like_album: false,
				albums_liked: [],
				tracks_liked: [],

				is_playing: false,
				is_paused: false,

				album_id: this.$route.params.id,
				album_title: '',
				album_artist: '',
				album_image: '',
				album_tracks: [],

				track_playing: '',

				filter: '',

				featured_albums: [],

				PlayIcon,
				PauseIcon,
			}
		},

		created() {
			this.getAlbumDetail()

			this.getStorageTracks()
			this.getStorageAlbums()

			this.$store.watch( store =>{
				let store_getters = this.$store.getters

				// Changing row color to activeRow when from PlayerComponent pressing Next or Prev
				if( store_getters.GET_CURRENT_TRACK[0] !== undefined ){
					this.track_playing = this.GET_CURRENT_TRACK[0].track_id
				}

				// Changing Pause or Play on TrackList when from PlayerComponent pressing Play or Pause
				if( store_getters.GET_PLAYING === false ){
					this.is_paused = true
				}else{
					this.is_paused = false
				}
			})
		},

		methods: {
			getTrackTime(time) {
				var hr = ~~(time / 3600);
				var min = ~~((time % 3600) / 60);
				var sec = time % 60;
				var sec_min = "";
				if (hr > 0) {
					sec_min += "" + hrs + ":" + (min < 10 ? "0" : "");
				}
				sec_min += "" + min + ":" + (sec < 10 ? "0" : "");
				sec_min += "" + sec;
				return sec_min;
			},

			async getAlbumDetail(){
				const album_detail = await ApiService.getAlbumDetail(this.album_id)
				
				this.album_title = album_detail.data.albums[0].name
				this.album_artist = album_detail.data.albums[0].artistName
				this.album_image = `http://direct.napster.com/imageserver/v2/albums/${this.album_id}/images/500x500.jpg`

				this.getAlbumTracks()
			},

			async getAlbumTracks(){
				const album_tracks = await ApiService.getAlbumTracks(this.album_id)

				album_tracks.data.tracks.map( track => {
					const track_obj = {
						id: track.id,
						name: track.name,
						url: track.previewURL,
						time: track.playbackSeconds
					}

					this.album_tracks = [...this.album_tracks, track_obj]
				})

				this.getFeaturedAlbums()
			},

			async getFeaturedAlbums(){
				const featured_albums = await ApiService.getFeaturedAlbums()
				
				featured_albums.data.albums.map( album => {
					this.featured_albums = [...this.featured_albums, {
						id: album.id,
						title: album.name,
						subtitle: album.artistName,
						image: `http://direct.napster.com/imageserver/v2/albums/${album.id}/images/500x500.jpg`,
						type: 'albums'
					}]
				})
				
				setTimeout( () =>{
					this.loading = false
				}, 2000)
			},

			// Sending track to State.CurrentTrack
			...mapActions(['SET_CURRENT_TRACK', 'SET_TRACK_LIST', 'SET_PLAYING']),

			playAll(){
				if( this.GET_TRACK_LIST[0] === undefined ){
					this.playTrack(0)
				}else{
					this.playTrack(this.GET_CURRENT_TRACK[0].track_index)
				}
			},

			playTrack(index){
				if( this.is_playing ){
					this.pauseTrack()
				}else{
					this.SET_TRACK_LIST(this.album_tracks)
					
					let track = this.GET_TRACK_LIST[0][index]
					let current_track = {
						track_index: index,
						track_id: track.id,
						track_name: track.name,
						track_url: track.url,
						album_id: this.album_id,
						album_name: this.album_title,
						album_photo: this.album_image,
					}

					this.SET_CURRENT_TRACK(current_track)
					this.SET_PLAYING(true)

					this.track_playing = this.GET_CURRENT_TRACK[0].track_id
				}
			},

			pauseTrack(){
				this.SET_PLAYING(false)
				this.is_playing = false
				this.is_paused = true
			},

			getStorageAlbums(){
				if(localStorage.getItem('napsterAlbums') !== null){
					this.albums_liked = []
					this.albums_liked = JSON.parse(localStorage.getItem('napsterAlbums'))
				}
			},

			getStorageTracks(){
				if(localStorage.getItem('napsterTracks') === null){
					console.log("")
				}else{
					this.tracks_liked = []
					this.tracks_liked = JSON.parse(localStorage.getItem('napsterTracks'))
				}
			},

			// Like Methods
				likeAlbum(){
					if( this.albums_liked.includes(this.album_id) ){
						let indexItem = this.albums_liked.indexOf(this.album_id)
						this.albums_liked.splice(indexItem, 1)
						localStorage.removeItem('napsterAlbums')
						localStorage.setItem('napsterAlbums', JSON.stringify(this.albums_liked))

						this.like_album = false
					}else{
						this.albums_liked = [...this.albums_liked, this.album_id]
						localStorage.removeItem('napsterAlbums')
						localStorage.setItem('napsterAlbums', JSON.stringify(this.albums_liked))

						this.like_album = true
					}
				},

				likeTrack(track_id){
					let TrackString = this.album_id + '@' + track_id
					if( this.tracks_liked.includes(TrackString) ){
						let indexItem = this.tracks_liked.indexOf(TrackString)
						this.tracks_liked.splice(indexItem, 1)
						localStorage.removeItem('napsterTracks')
						localStorage.setItem('napsterTracks', JSON.stringify(this.tracks_liked))
					}else{
						this.tracks_liked = [...this.tracks_liked, TrackString]
						localStorage.removeItem('napsterTracks')
						localStorage.setItem('napsterTracks', JSON.stringify(this.tracks_liked))
					}
				}
			// .Like Methods
		},

		computed: {
			...mapGetters(['GET_CURRENT_TRACK', 'GET_TRACK_LIST', 'GET_PLAYING']),

			filteredTracks(){
				return this.album_tracks.filter( (track) => {
					return track.name.toLowerCase().includes(this.filter.toLowerCase())
				});
			}
		}
	}
</script>

<style lang="scss" scope>
	.top-page{
		.page-title{
			font-size: 70px !important;
			letter-spacing: 14px !important;
		}
	}
</style>

