<template>
	<section>
		<TopPage :title="artist_name" :subtitle="'- artist -'" :bg_image="artist_image" bg_position="center -200px" margin="no-margin"/>

		<div class="artist_albums d-inline-block w-100 mb-100">
			<div class="wrapper">
				<h2 class="title-block font-32 font-weight-200 m-0 mt-40 pl-15" v-text="'Biography'"></h2>
				<p class="font-16 lh-14 m-0 mb-20 mt-20 pl-15" v-text="artist_bio" style="max-width: 820px; line-height: 1.6;"></p>
				<small class="d-block mb-60 pl-15 italic" v-text="'by - ' + artist_bio_author + '-'"></small>

				<h2 class="title-block font-32 font-weight-200 m-0 mb-10 pl-15" v-text="'Discography'"></h2>
				<div class="micard-list align-center d-flex flex-wrap">
					<MiniCard 
						v-for="(album, index) in artist_albums"
						:key="index"
						:id="album.id"
						:title="album.title"
						:subtitle="album.subtitle"
						:image="album.image"
						:type="album.type"
						box_style="out_box"
						class="mb-20"
					/>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
	import ApiService from '@/services/api'

	import { Keys } from '../config/keys.js'

	import TopPage from '../components/TopPage'
	import MiniCard from '../components/MiniCard'

	export default {
		components: {
			TopPage,
			MiniCard
		},

		data(){
			return {
				keys: Keys,

				artist_id: this.$route.params.id,
				artist_name: '',
				artist_bio: '',
				artist_bio_author: '',
				artist_image: '',
				artist_albums: [],
				artist_new: [],
			}
		},

		mounted(){
			this.getArtistDetail()
			this.getArtistAlbums()
		},

		methods: {
			async getArtistDetail(){
				const artist = await ApiService.getArtistDetail(this.artist_id)
				
				this.artist_name = artist.data.artists[0].name
				this.artist_bio = artist.data.artists[0].bios[0].bio
				this.artist_bio_author = artist.data.artists[0].bios[0].author
				this.artist_image = `http://direct.napster.com/imageserver/v2/artists/${artist.data.artists[0].id}/images/633x422.jpg`
			},

			async getArtistAlbums(){
				const artist_albums = await ApiService.getArtistAlbums(this.artist_id)

				artist_albums.data.albums.forEach( album => {
					this.artist_albums = [...this.artist_albums, {
						id: album.id,
						title: album.name,
						subtitle: album.artistName,
						image: `http://direct.napster.com/imageserver/v2/albums/${album.id}/images/500x500.jpg`,
						type: 'albums'
					}]
				})
			},
		}
	}
</script>

