<template>
	<section class="mh-100-vh">
		<TopPage title="Explore" :bg_image="image_top_page" bg_position="center -200px"/>

		<div class="top_playlists d-inline-block w-100 mb-60">
			<div class="wrapper">
				<h2 class="title-block font-32 font-weight-200 m-0 mb-10 pl-15" v-text="'Staff Picks'"></h2>
				<div class="micard-list align-center" v-if="show_albums_slide">
					<Slick
						ref="slick"
						:options="staffAlbumsSlickOptions"
					> 
						<MiniCard 
							v-for="(album, index) in staff_albums"
							:key="index"
							:id="album.id"
							:title="album.title"
							:subtitle="album.subtitle"
							:image="album.image"
							:type="album.type"
							box_style="big_box"
						/>
					</Slick>
				</div>
			</div>
		</div>

		<div class="separator-line"></div>

		<div class="top_playlists d-inline-block w-100 mb-60">
			<div class="wrapper">
				<h2 class="title-block font-32 font-weight-200 m-0 mb-10 pl-15" v-text="'Featured Playlists'"></h2>
				<div class="micard-list align-center d-flex flex-wrap">
					<MiniCard 
						v-for="(playlist, index) in top_playlists"
						:key="index"
						:id="playlist.id"
						:title="playlist.title"
						:subtitle="playlist.subtitle"
						:image="playlist.image"
						:type="playlist.type"
						box_style="rectangle"
						text_style="center"
					/>
				</div>
			</div>
		</div>

		<div class="separator-line"></div>

		<div class="artists d-inline-block w-100 mb-100">
			<div class="wrapper">
				<h2 class="title-block font-32 font-weight-200 m-0 mb-10 pl-15" v-text="'Top Artists'"></h2>
				<div class="micard-list" v-if="show_artists_slide">
					<Slick
						ref="slick"
						:options="artistsSlickOptions"
					>   
						<MiniCard 
							v-for="(artist, index) in top_artists"
							:key="index"
							:id="artist.id"
							:title="artist.title"
							:image="artist.image"
							:type="artist.type"
							box_style="circled"
							text_style="center"
						/>
					</Slick>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
	import ApiService from '@/services/api'

	import { Keys } from '../config/keys.js'
	import { Headers } from '../config/headers.js'

	import BgTopPage from '../assets/images/bg/bg2.jpg'
	
	import TopPage from '../components/TopPage'
	import Slick from 'vue-slick'
	import MiniCard from '../components/MiniCard'

	export default {
		components: {
			TopPage,
			MiniCard,
			Slick
		},

		data() {
			return{
				keys: Keys,
				headers: Headers,

				image_top_page: BgTopPage,

				staff_albums: [],
				top_playlists: [],
				top_artists: [],

				show_albums_slide: false,
				show_artists_slide: false,

				staffAlbumsSlickOptions: {
					slidesToShow: 3,
					slidesToScroll: 3,
					infinite: true,
					dots: true,
					arrows: false,
					speed: 500,
					centerMode: false,
				},

				artistsSlickOptions: {
					slidesToShow: 5,
					slidesToScroll: 5,
					infinite: true,
					dots: true,
					arrows: false,
					speed: 500,
					centerMode: false,
				},
			}
		},

		created(){
			this.getStaffAlbums()
			this.getTopPlaylists()
			this.getTopArtists()
		},

		methods: {
			// Slick Functions
				next() {
					this.$refs.slick.next();
				},

				prev() {
					this.$refs.slick.prev();
				},

				reInit() {
					this.$nextTick(() => {
						this.$refs.slick.reSlick();
					});
				},
			// .Slick Functions

			async getStaffAlbums(){
				const staff_albums = await ApiService.getStaffAlbums(12)
				staff_albums.data.albums.forEach( album => {
					this.staff_albums = [...this.staff_albums, {
						id: album.id,
						title: album.name,
						subtitle: album.artistName,
						image: `http://direct.napster.com/imageserver/v2/albums/${album.id}/images/500x500.jpg`,
						type: 'albums'
					}]
				})

				this.show_albums_slide = true
			},

			async getTopPlaylists(){
				const top_playlists = await ApiService.getTopPlaylists(15)
				top_playlists.data.playlists.forEach( playlist => {
					this.top_playlists = [...this.top_playlists, {
						id: playlist.id,
						title: playlist.name,
						subtitle: `${playlist.trackCount} tracks`,
						image: playlist.images[0].url,
						type: 'playlists'
					}]
				})
			},

			async getTopArtists(){
				const top_artists = await ApiService.getTopArtists(15)
				top_artists.data.artists.forEach( artist => {
					this.top_artists = [...this.top_artists, {
						id: artist.id,
						title: artist.name,
						image: `http://direct.napster.com/imageserver/v2/artists/${artist.id}/images/633x422.jpg`,
						type: 'artists'
					}]
				})

				this.show_artists_slide = true
			}
		}
	}
</script>
