<template>
	<section class="mh-100-vh">
		<TopPage title="Favourite" subtitle="- playlists -" :bg_image="image_top_page" bg_position="center -300px"/>
		
		<div v-if="playlists.length === 0">
			<h2 class="w-100 font-18 mt-15 align-left pl-40" v-text="'You have no favourite Playlists yet :('"></h2>
		</div>

		<div class="playlists d-inline-block w-100 mb-80">
			<div class="wrapper">
				<div class="micard-list d-flex flex-wrap">
					<MiniCard 
						v-for="(playlist, index) in playlists"
						:key="index"
						:id="playlist.id"
						:title="playlist.title"
						:subtitle="playlist.subtitle"
						:image="playlist.image"
						:type="playlist.type"
						box_style="out_box"
						class="mb-20"
					/>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
	import axios from 'axios'

	import { Keys } from '../config/keys.js'
	import { Headers } from '../config/headers.js'

	import BgTopPage from '../assets/images/bg/bg8.jpg'
	
	import TopPage from '../components/TopPage'
	import Slick from 'vue-slick'
	import MiniCard from '../components/MiniCard'

	export default {
		components: {
			TopPage,
			MiniCard,
			Slick
		},

		data() {
			return{
				keys: Keys,
				headers: Headers,

				image_top_page: BgTopPage,

				playlists: []
			}
		},

		created(){
			this.getStoragePlaylists()
		},

		methods: {
			getStoragePlaylists(){
				let getStoragePlaylists = JSON.parse(localStorage.getItem('napsterPlaylists'))
				if(getStoragePlaylists.length > 0){
					getStoragePlaylists.forEach( playlist_id => {
						axios
						.get(`https://api.napster.com/v2.2/playlists/${playlist_id}?apikey=${this.keys.api_key}`)
						.then( playlist => {
							this.playlists = [...this.playlists, {
								id: playlist.data.playlists[0].id,
								title: playlist.data.playlists[0].name,
								subtitle: `${playlist.data.playlists[0].favoriteCount} followers`,
								image: `https://direct.napster.com/imageserver/v2/playlists/${playlist.data.playlists[0].id}/artists/images/1200x400.jpg`,
								type: 'playlists'
							}]
						})
						.catch( error => console.log(error))
					})
				}
			}
		}
	}
</script>