<template>
	<section class="mh-100-vh">
		<TopPage title="Favourite" subtitle="- albums -" :bg_image="image_top_page" bg_position="center -300px"/>
		
		<div v-if="albums.length === 0">
			<h2 class="w-100 font-18 mt-15 align-left pl-40" v-text="'You have no favourite Albums yet :('"></h2>
		</div>

		<div class="albums d-inline-block w-100 mb-80">
			<div class="wrapper">
				<div class="micard-list d-flex flex-wrap">
					<MiniCard 
						v-for="(album, index) in albums"
						:key="index"
						:id="album.id"
						:title="album.title"
						:subtitle="album.subtitle"
						:image="album.image"
						:type="album.type"
						box_style="out_box"
						class="mb-20"
					/>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
	import axios from 'axios'

	import { Keys } from '../config/keys.js'
	import { Headers } from '../config/headers.js'

	import BgTopPage from '../assets/images/bg/bg9.jpg'
	
	import TopPage from '../components/TopPage'
	import Slick from 'vue-slick'
	import MiniCard from '../components/MiniCard'

	export default {
		components: {
			TopPage,
			MiniCard,
			Slick
		},

		data() {
			return{
				keys: Keys,
				headers: Headers,

				image_top_page: BgTopPage,

				albums: []
			}
		},

		created(){
			this.getStorageAlbums()
		},

		methods: {
			getStorageAlbums(){
				let getStorageAlbums = JSON.parse(localStorage.getItem('napsterAlbums'))
				if(getStorageAlbums.length > 0){
					getStorageAlbums.forEach( album => {
						axios
						.get(`https://api.napster.com/v2.2/albums/${album}?apikey=${this.keys.api_key}`)
						.then( album => {
							this.albums = [...this.albums, {
								id: album.data.albums[0].id,
								title: album.data.albums[0].name,
								subtitle: album.data.albums[0].artistName,
								image: `https://direct.napster.com/imageserver/v2/albums/${album.data.albums[0].id}/images/500x500.jpg`,
								type: 'albums'
							}]
						})
						.catch( error => console.log(error))
					})
				}
			}
		}
	}
</script>