<template>
	<section class="mh-100-vh bg-dark pb-40">
		<TopPage title="Favourite" subtitle="- tracks -" :bg_image="image_top_page" bg_position="center -200px"/>
		
		<div class="wrapper">
			<div v-if="tracks.length === 0">
				<h2 class="w-100 font-18 mt-15 align-left pl-40" v-text="'You have no favourite Tracks yet :('"></h2>
			</div>
		</div>

		<div class="top-album-bar relative p-40 pt-0 mb-20" v-if="tracks.length > 0">
			<div class="wrapper d-flex pl-40">
				<!-- Play All -->
					<div class="play-all-button d-inline-block c-pointer mr-10">
						<div class="play-button d-flex h-50-p bg-dark-2 p-10 pl-20 pr-20 rounded" @click="playAll" :class="{'is_not_paused': is_paused}">
							<img :src="PlayIcon" width="18">
							<span class="ml-10 lh-2" v-text="'Play'"></span>
						</div>

						<div class="pause-button d-flex h-50-p bg-dark-2 p-10 pl-20 pr-20 rounded" @click="pauseTrack" :class="{'is_paused': is_paused}">
							<img :src="PauseIcon" width="16">
							<span class="ml-10 lh-2" v-text="'Pause'"></span>
						</div>
					</div>
				<!-- .Play All -->

				<div class="h-50-p bg-dark-2 w-300-p rounded">
					<input type="text" class="input input--search input--bg-transparent h-100 w-100" placeholder="Filter" v-model="filter">
				</div>
			</div>
		</div>

		<!-- Loading -->
			<div class="wrapper">
				<div class="loading-items w-100 font-16 mt-15 align-left p-40 pt-20 pb-0 font-weight-500 d-flex flex-middle" v-if="loading && tracks.length > 0">
					<span v-text="'Loading tracks'"></span>
					<i class="d-block h-10-p w-20-p ml-5"></i>
				</div>
			</div>
		<!-- .Loading -->
		
		<div class="album-list" v-if="!loading && filteredTracks.length > 0">
			<div class="wrapper d-flex">
				<table class="table w-100 pl-40 pr-40 font-14 mb-60">
					<thead>
						<tr v-if="filteredTracks.length">
							<td class="p-10 w-10-p pr-15"></td>
							<td class="p-10 pl-0 pr-5 w-20-p align-center" v-text="'Track'"></td>
							<td class="pt-10 pr-20 pb-10 pl-20" v-text="'Title'"></td>
							<td class="p-10 w-70-p align-center" v-text="'Like'"></td>
							<td class="p-10 align-right w-70-p" v-text="'Duration'"></td>
						</tr>
					</thead>
					
					<caption class="w-100 font-18 mt-15 align-left pl-40" v-if="filteredTracks.length == 0">There are no tracks with this name :(</caption>
					
					<tbody>
						<tr v-for="(track, index) in filteredTracks" :key="index" class="rounded mb-10 overflow-h track-row" :class="{'track-row--active' : track_playing === track.id}">
							<td class="p-0">
								<div class="play-button h-40-p w-60-p c-pointer" :class="{'is_paused' : is_paused}" @click="playTrack(index)" :style="{'background' : 'url(' + PlayIcon + ') no-repeat center / 12px'}"></div>
								<div class="pause-button h-40-p w-60-p c-pointer" :class="{'is_paused' : is_paused}" @click="pauseTrack" :style="{'background' : 'url(' + PauseIcon + ') no-repeat 23px center / 11px'}"></div>
							</td>
							<td class="p-15 pl-0 pr-5 w-20-p align-center" :class="{'opacity-4 disable' : !track.url}" v-text="index + 1"></td>
							<td class="pt-15 pr-20 pb-15 pl-20 track-name">
								<span className="font-14 m-0 truncate" :class="{'opacity-4 disable' : !track.url}" v-text="track.name"></span>
							</td>
							<td class="track-actions d-flex flex-around">
								<div class="like-button like-button--small like-button--active w-100 h-40-p c-pointer opacity-3" @click="dislikeTrack(track.id)"></div>
							</td>
							<td class="p-15 align-right font-14" :class="{'opacity-4 disable' : !track.url}" v-text="getTrackTime(track.time)"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</template>

<script>
	import axios from 'axios'

	import { Keys } from '../config/keys.js'
	import { Headers } from '../config/headers.js'

	import TopPage from '../components/TopPage'
	import Slick from 'vue-slick'
	import MiniCard from '../components/MiniCard'

	import BgTopPage from '../assets/images/bg/bg11.jpg'
	import PlayIcon from '../assets/images/player/play_gradient.svg'
	import PauseIcon from '../assets/images/player/pause_gradient.svg'

	//VUEX
	import { mapGetters, mapActions } from 'vuex'

	export default {
		components: {
			TopPage,
			MiniCard,
			Slick
		},

		data() {
			return{
				keys: Keys,
				headers: Headers,

				loading: true,
				play_all: false,

				tracks: [],
				tracks_liked: [],
				track_playing: '',
				
				is_playing: false,
				is_paused: false,

				filter: '',
				
				image_top_page: BgTopPage,
				PlayIcon,
				PauseIcon,
			}
		},

		created(){
			this.getStorageTracks()

			this.$store.watch( store =>{
				let store_getters = this.$store.getters

				// Changing row color to activeRow when from PlayerComponent pressing Next or Prev
				if( store_getters.GET_CURRENT_TRACK[0] !== undefined ){
					this.track_playing = this.GET_CURRENT_TRACK[0].track_id
				}

				// Changing Pause or Play on TrackList when from PlayerComponent pressing Play or Pause
				if( store_getters.GET_PLAYING === false ){
					this.is_paused = true
				}else{
					this.is_paused = false
				}
			})
		},

		methods: {
			getTrackTime(time) {
				var hr = ~~(time / 3600);
				var min = ~~((time % 3600) / 60);
				var sec = time % 60;
				var sec_min = "";
				if (hr > 0) {
					sec_min += "" + hrs + ":" + (min < 10 ? "0" : "");
				}
				sec_min += "" + min + ":" + (sec < 10 ? "0" : "");
				sec_min += "" + sec;
				return sec_min;
			},

			getStorageTracks(){
				let getStorageTracks = JSON.parse(localStorage.getItem('napsterTracks'))
				getStorageTracks.map( (track_storage, index) => {
					let album_id = track_storage.split("@")
					let track_id = track_storage.substring(track_storage.lastIndexOf("@") + 1)

					axios
					.get(`https://api.napster.com/v2.2/tracks/${track_id}?apikey=${this.keys.api_key}`)
					.then( track => {
						const track_obj = {
							id: track.data.tracks[0].id,
							name: track.data.tracks[0].name,
							url: track.data.tracks[0].previewURL,
							time: track.data.tracks[0].playbackSeconds,
							parent_id: track.data.tracks[0].albumId,
							parent_name: track.data.tracks[0].albumName,
							parent_photo: `https://direct.napster.com/imageserver/v2/albums/${track.data.tracks[0].albumId}/images/500x500.jpg`,
						}

						this.tracks = [...this.tracks, track_obj]
					})
					.catch( error => console.log(error) )
				})

				setTimeout( () =>{
					this.loading = false
				}, 2000)
			},

			// Sending track to State.CurrentTrack
			...mapActions(['SET_CURRENT_TRACK', 'SET_TRACK_LIST', 'SET_PLAYING']),

			dislikeTrack(track_id){
				let trackId = this.tracks.indexOf(track_id)
				console.log(trackId)
			},

			playAll(){
				if( this.GET_TRACK_LIST[0] === undefined ){
					this.playTrack(0)
				}else{
					this.playTrack(this.GET_CURRENT_TRACK[0].track_index)
				}
			},

			playTrack(index){
				if( this.is_playing ){
					this.pauseTrack()
				}else{
					this.SET_TRACK_LIST(this.tracks)
					
					let track = this.GET_TRACK_LIST[0][index]
					let current_track = {
						track_index: index,
						track_id: track.id,
						track_name: track.name,
						track_url: track.url,
						album_id: track.parent_id,
						album_name: track.parent_name,
						album_photo: track.parent_photo
					}

					this.SET_CURRENT_TRACK(current_track)
					this.SET_PLAYING(true)

					this.track_playing = this.GET_CURRENT_TRACK[0].track_id
				}
			},

			pauseTrack(){
				this.SET_PLAYING(false)
				this.is_playing = false
				this.is_paused = true
			},
		},

		computed: {
			...mapGetters(['GET_CURRENT_TRACK', 'GET_TRACK_LIST', 'GET_PLAYING']),

			filteredTracks(){
				return this.tracks.filter( (track) => {
					return track.name.toLowerCase().includes(this.filter.toLowerCase())
				});
			}
		}
	}
</script>