<template>
	<section class="mh-100-vh bg-dark pb-40">
		<TopPage :title="genre_title" :subtitle="'- genre -'" :bg_image="image_top_page" bg_position="center -200px" margin="no-margin"/>

		<div class="top_playlists d-inline-block w-100 mb-100">
			<div class="wrapper">
				<h2 class="title-block font-32 font-weight-200 m-0 mb-10 pl-15" v-text="'Top Playlists'"></h2>
				<div class="micard-list align-center d-flex flex-wrap">
					<MiniCard 
						v-for="(album, index) in top_playlists"
						:key="index"
						:id="album.id"
						:title="album.title"
						:subtitle="album.subtitle"
						:image="album.image"
						:type="album.type"
						box_style="out_box"
						class="mb-20"
					/>
				</div>
			</div>
		</div>

		<div class="separator-line"></div>

		<div class="artists d-inline-block w-100 pt-40 mb-100">
			<div class="wrapper">
				<h2 class="title-block font-32 font-weight-200 m-0 mb-10 pl-15" v-text="'Top Artists'"></h2>
				<div class="micard-list" v-if="show_top_artists">
					<Slick
						ref="slick"
						:options="artistsSlickOptions"
					>   
						<MiniCard 
							v-for="(artist, index) in top_artists"
							:key="index"
							:id="artist.id"
							:title="artist.title"
							:image="artist.image"
							:type="artist.type"
							box_style="circled"
							text_style="center"
						/>
					</Slick>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
	import ApiService from '@/services/api'
	
	import { Keys } from '../config/keys.js'

	import TopPage from '../components/TopPage'
	import Slick from 'vue-slick'
	import MiniCard from '../components/MiniCard'

	import BgTopPage from '../assets/images/bg/bg8.jpg'

	//VUEX
	import { mapGetters, mapActions } from 'vuex'

	export default {
		components: { 
			TopPage,
			Slick,
			MiniCard 
		},

		data() {
			return {
				keys: Keys,
				
				image_top_page: BgTopPage,

				genre_id: this.$route.params.id,
				genre_title: '',
				genre_description: '',
				genre_image: '',

				top_playlists: [],
				top_artists: [],
				show_top_artists: false,
				editorial_posts: [],

				artistsSlickOptions: {
					slidesToShow: 5,
					slidesToScroll: 5,
					infinite: true,
					dots: true,
					arrows: false,
					speed: 500,
					centerMode: false,
				},
			}
		},

		mounted(){
			this.getGenreDetail()
			this.getTopPlaylists()
			this.getTopArtists()
		},

		methods: {
			// Slick Functions
				next() {
					this.$refs.slick.next();
				},

				prev() {
					this.$refs.slick.prev();
				},

				reInit() {
					this.$nextTick(() => {
						this.$refs.slick.reSlick();
					});
				},
			// .Slick Functions

			async getGenreDetail(){
				const genre_detail = await ApiService.getGenreDetail(this.genre_id)

				this.genre_title = genre_detail.data.genres[0].name
				this.genre_description = genre_detail.data.genres[0].description
				this.genre_image = `http://direct.napster.com/imageserver/images/${this.genre_id}/240x160.jpg`
			},

			async getTopPlaylists(){
				const top_playlists = await ApiService.getGenreTopPlaylists(this.genre_id)

				top_playlists.data.playlists.forEach( playlist => {
					this.top_playlists = [...this.top_playlists, {
						id: playlist.id,
						title: playlist.name,
						subtitle: playlist.trackCount + ' tracks',
						image: `http://direct.napster.com/imageserver/v2/playlists/${playlist.id}/artists/images/1200x400.jpg`,
						type: 'playlists'
					}]
				})
			},

			async getTopArtists(){
				const top_artists = await ApiService.getGenreTopArtists(this.genre_id)

				top_artists.data.artists.forEach( artist => {
					this.top_artists = [...this.top_artists, {
						id: artist.id,
						title: artist.name,
						image: `http://direct.napster.com/imageserver/v2/artists/${artist.id}/images/633x422.jpg`,
						type: 'artists'
					}]
				})

				this.show_top_artists = true
			},
		}
	}
</script>
