<template>
	<section class="mh-100-vh mb-100">
		<TopPage title="Welcome" :bg_image="image_top_page" bg_position="center -300px"/>

		<!-- Top Albums -->
			<div class="top_albums d-inline-block w-100 mb-80">
				<div class="wrapper">
					<h2 class="title-block font-32 font-weight-200 m-0 mb-10 pl-15" v-text="'Top Albums'"></h2>
					<div class="micard-list align-center" v-if="show_albums_slide">
						<Slick
							ref="slick"
							:options="topAlbumsSlickOptions"
						> 
							<MiniCard 
								v-for="(album, index) in top_albums"
								:key="index"
								:id="album.id"
								:title="album.title"
								:subtitle="album.subtitle"
								:image="album.image"
								:type="album.type"
								box_style="big_box"
							/>
						</Slick>
					</div>
				</div>
			</div>
		<!-- .Top Albums -->

		<div class="separator-line"></div>

		<!-- New Releases -->
			<div class="new_releases d-inline-block w-100 mb-80">
				<div class="wrapper">
					<h2 class="title-block font-32 font-weight-200 m-0 mb-10 pl-15" v-text="'New Releases'"></h2>
					<div class="micard-list d-flex flex-wrap">
						<MiniCard 
							v-for="(album, index) in new_releases"
							:key="index"
							:id="album.id"
							:title="album.title"
							:subtitle="album.subtitle"
							:image="album.image"
							:type="album.type"
							box_style="out_box"
							class="mb-20"
						/>
					</div>
				</div>
			</div>
		<!-- .New Releases -->

		<div class="separator-line"></div>

		<!-- Top Tracks -->
			<div class="genres d-inline-block w-100">
				<div class="wrapper">
					<h2 class="title-block font-32 font-weight-200 m-0 mb-10 pl-15" v-text="'Top Tracks'"></h2>

					<table class="table w-100 p-20 pt-0 font-14 mb-60">
						<thead>
							<tr v-if="top_tracks.length">
								<td class="p-10 w-10-p pr-15"></td>
								<td class="p-10 pl-0 pr-5 w-20-p align-center" v-text="'Track'"></td>
								<td class="pt-10 pr-20 pb-10 pl-20" v-text="'Title'"></td>
								<td class="pt-10 pr-20 pb-10 pl-20" v-text="'Album'"></td>
								<td class="p-10 w-70-p align-center" v-text="'Like'"></td>
								<td class="p-10 align-right w-70-p" v-text="'Duration'"></td>
							</tr>
						</thead>
						
						<tbody>
							<tr v-for="(track, index) in top_tracks" :key="index" class="rounded mb-10 overflow-h track-row" :class="{'track-row--active' : track_playing === track.id}">
								<td class="p-0">
									<div class="play-button h-40-p w-60-p c-pointer" :class="{'is_paused' : is_paused}" @click="playTrack(index)" :style="{'background' : 'url(' + PlayIcon + ') no-repeat center / 12px'}"></div>
									<div class="pause-button h-40-p w-60-p c-pointer" :class="{'is_paused' : is_paused}" @click="pauseTrack" :style="{'background' : 'url(' + PauseIcon + ') no-repeat 23px center / 11px'}"></div>
								</td>
								<td class="p-15 pl-0 pr-5 w-20-p align-center" :class="{'opacity-4 disable' : !track.url}" v-text="index + 1"></td>
								<td class="pt-15 pr-20 pb-15 pl-20 track-name">
									<div class="font-14 m-0 truncate" :class="{'opacity-4 disable' : !track.url}" v-text="track.name"></div>
								</td>
								<td class="pt-15 pr-20 pb-15 pl-20 album-name">
									<!-- <div class="font-14 m-0 truncate" :class="{'opacity-4 disable' : !track.url}" v-text="track.album_name"></div> -->
									<router-link :to="'/albums/' + track.album_id" class="font-14 m-0 truncate c-pointer" :class="{'opacity-4 disable' : !track.url}" v-text="track.album_name" tag="div"></router-link>
								</td>
								<td class="track-actions d-flex flex-around">
									<div class="like-button like-button--small w-100 h-40-p c-pointer opacity-3" :class="{'like-button--active' : tracks_liked.includes(track.album_id + '@' + track.id)}" @click="likeTrack(track.album_id + '@' + track.id)"></div>
								</td>
								<td class="p-15 align-right font-14" :class="{'opacity-4 disable' : !track.url}" v-text="getTrackTime(track.time)"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		<!-- .Top Tracks -->

		<div class="separator-line"></div>

		<!-- Genres -->
			<div class="genres d-inline-block w-100 mb-80">
				<div class="wrapper">
					<h2 class="title-block font-32 font-weight-200 m-0 mb-10 pl-15" v-text="'Genres'"></h2>
					<div class="micard-list" v-if="show_genre_slide">
						<Slick
							ref="slick"
							:options="genresSlickOptions"
						>   
							<MiniCard 
								v-for="(genre, index) in genres"
								:key="index"
								:id="genre.id"
								:title="genre.title"
								:image="genre.image"
								:type="genre.type"
								box_style="rectangle"
								text_style="center"
							/>
						</Slick>
					</div>
				</div>
			</div>
		<!-- .Genres -->
	</section>
</template>

<script>
	import ApiService from '@/services/api'

	import { Keys } from '../config/keys.js'

	import BgTopPage from '../assets/images/bg/bg10.jpg'
	import noImage from '../assets/images/bg/no_album.svg'
	import PlayIcon from '../assets/images/player/play_gradient.svg'
	import PauseIcon from '../assets/images/player/pause_gradient.svg'
	
	import TopPage from '../components/TopPage'
	import Slick from 'vue-slick'
	import MiniCard from '../components/MiniCard'

	// Vuex
	import { mapGetters, mapActions } from 'vuex'

	export default {
		components: {
			TopPage,
			MiniCard,
			Slick
		},

		data() {
			return{
				keys: Keys,

				image_top_page: BgTopPage,
				no_image: noImage,

				top_albums: [],
				new_releases: [],
				genres: [],
				
				top_tracks: [],
				track_playing: '',
				tracks_liked: [],
				is_playing: false,
				is_paused: false,

				PlayIcon,
				PauseIcon,
				
				// Slick data
					show_albums_slide: false,
					show_genre_slide: false,

					topAlbumsSlickOptions: {
						slidesToShow: 3,
						slidesToScroll: 3,
						infinite: true,
						dots: true,
						arrows: false,
						speed: 500,
						centerMode: false,
					},

					genresSlickOptions: {
						slidesToShow: 5,
						slidesToScroll: 3,
						infinite: true,
						dots: true,
						arrows: false,
						speed: 500,
						centerMode: false,
					},
				// .Slick data
			}
		},

		created(){
			this.getTopAlbums()
			this.getNewReleases()
			this.getGenres()
			this.getTopTracks()
			this.getStorageTracks()

			this.$store.watch( store =>{
				let store_getters = this.$store.getters

				// Changing row color to activeRow when from PlayerComponent pressing Next or Prev
				if( store_getters.GET_CURRENT_TRACK[0] !== undefined ){
					this.track_playing = this.GET_CURRENT_TRACK[0].track_id
				}

				// Changing Pause or Play on TrackList Ithis.top_tracks Item when from PlayerComponent pressing Play or Pause
				if( store_getters.GET_PLAYING === false ){
					this.is_paused = true
				}else{
					this.is_paused = false
				}
			})
		},

		methods: {
			// Slick Functions
				next() {
					this.$refs.slick.next();
				},

				prev() {
					this.$refs.slick.prev();
				},

				reInit() {
					this.$nextTick(() => {
						this.$refs.slick.reSlick();
					});
				},
			// .Slick Functions

			async getTopAlbums(){
				const response = await ApiService.getTopAlbums(9)
				response.data.albums.forEach( album => {
					this.top_albums = [...this.top_albums, {
						id: album.id,
						title: album.name,
						subtitle: album.artistName,
						image: `http://direct.napster.com/imageserver/v2/albums/${album.id}/images/500x500.jpg`,
						type: 'albums'
					}]
				})

				this.show_albums_slide = true
			},

			async getNewReleases(){
				const response = await ApiService.getNewReleases(10)
				response.data.albums.forEach( album => {
					this.new_releases = [...this.new_releases, {
						id: album.id,
						title: album.name,
						subtitle: album.artistName,
						image: `http://direct.napster.com/imageserver/v2/albums/${album.id}/images/500x500.jpg`,
						type: 'albums'
					}]
				})
			},

			async getGenres(){
				const response = await ApiService.getGenres(5)
				response.data.genres.forEach( genre => {
					this.genres = [...this.genres, {
						id: genre.id,
						title: genre.name,
						image: `http://direct.napster.com/imageserver/images/${genre.id}/240x160.jpg`,
						type: 'genres'
					}]
				})

				this.show_genre_slide = true
			},

			async getTopTracks(){
				const response = await ApiService.getTopTracks(10)
				response.data.tracks.forEach( track => {
					const track_obj = {
						id: track.id,
						name: track.name,
						url: track.previewURL,
						time: track.playbackSeconds,
						album_id: track.albumId,
						album_name: track.albumName,
						album_photo: `http://direct.napster.com/imageserver/v2/albums/${track.albumId}/images/500x500.jpg`,
					}

					this.top_tracks = [...this.top_tracks, track_obj]
				})
			},

			...mapActions(['SET_CURRENT_TRACK', 'SET_TRACK_LIST', 'SET_PLAYING', 'SET_EMPTY_CURRENT_TRACK']),

			getTrackTime(time) {
				var hr = ~~(time / 3600);
				var min = ~~((time % 3600) / 60);
				var sec = time % 60;
				var sec_min = "";
				if (hr > 0) {
					sec_min += "" + hrs + ":" + (min < 10 ? "0" : "");
				}
				sec_min += "" + min + ":" + (sec < 10 ? "0" : "");
				sec_min += "" + sec;
				return sec_min;
			},

			playTrack(index){
				if( this.is_playing ){
					this.pauseTrack()
				}else{
					this.SET_TRACK_LIST(this.top_tracks)
					
					let track = this.GET_TRACK_LIST[0][index]
					let current_track = {
						track_index: index,
						track_id: track.id,
						track_name: track.name,
						track_url: track.url,
						album_id: track.album_id,
						album_name: track.album_name,
						album_photo: track.album_photo,
					}

					this.SET_CURRENT_TRACK(current_track)
					this.SET_PLAYING(true)

					this.track_playing = this.GET_CURRENT_TRACK[0].track_id
				}
			},

			pauseTrack(){
				this.SET_PLAYING(false)
				this.is_playing = false
				this.is_paused = true
			},

			getStorageTracks(){
				if(localStorage.getItem('napsterTracks') === null){
					console.log("")
				}else{
					this.tracks_liked = []
					this.tracks_liked = JSON.parse(localStorage.getItem('napsterTracks'))
				}
			},

			likeTrack(album_track_id){
				let TrackString = album_track_id
				if( this.tracks_liked.includes(TrackString) ){
					let indexItem = this.tracks_liked.indexOf(TrackString)
					this.tracks_liked.splice(indexItem, 1)
					localStorage.removeItem('napsterTracks')
					localStorage.setItem('napsterTracks', JSON.stringify(this.tracks_liked))
				}else{
					this.tracks_liked = [...this.tracks_liked, TrackString]
					localStorage.removeItem('napsterTracks')
					localStorage.setItem('napsterTracks', JSON.stringify(this.tracks_liked))
				}
			}
		},

		computed: {
			...mapGetters(['GET_CURRENT_TRACK', 'GET_TRACK_LIST', 'GET_PLAYING']),
		}
	}
</script>