<template>
	<section class="login-page">
		<div class="d-flex">
			<div class="bg-container relative w-50 h-100-vh">
				<h1 class="absolute absolute-h-center absolute-v-center align-center h-50-p color-white z-index-1 font-weight-100 font-54 italic" v-text="'LOGIN'"></h1>
				<div class="bg absolute w-100 h-100 pos-left pos-top h-100"></div>
				<div class="gradient absolute w-100 h-100 pos-left pos-top h-100 opacity-8"></div>
			</div>
			<div class="login-container relative w-50 h-100-vh">
				<div class="login-wrapper max-w-400 absolute absolute-h-center absolute-v-center">
					<router-link to="/" class="logo logo--white w-150-p mb-30"></router-link>
					
					<div class="form-item mb-20">
						<input class="input w-100" type="text" placeholder="Username" v-model="username" :disabled="loading">
						<span class="font-12 color-red mt-10 d-block" v-text="'This field is required!'" v-if="username.length === 0"></span>
					</div>
					<div class="form-item mb-40">
						<input class="input w-100" type="password" placeholder="Password" v-model="password" :disabled="loading">
						<span class="font-12 color-red mt-10 d-block" v-text="'This field is required!'" v-if="password.length === 0"></span>
					</div>

					<div class="d-flex flex-middle mb-40">
						<button class="button mr-20" :class="{'loading' : loading}" @click="login">Login</button>
						<span v-text="'or'"></span>
						<a class="button button--border ml-20 no-decoration" href="/register" v-text="'Register'"></a>
					</div>

					<p class="font-13 lh-14" v-text="'This project is a concept redesign using <strong>Vue.JS</strong> + <strong>Napster API</strong>'"></p>
					<p class="font-13 lh-14 mb-40" v-text="'It is not necessary login, just fill the username and password fields and pick on login button.'"></p>
					<p class="font-13 lh-14">Designed and developed by <strong><a class="color-white" href="http://leonardofunez.com" target="_blank">Leonardo Funez</a></strong></p>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
	export default {
		data(){
			return{
				username: 'test@napster.com',
				password: '12345',
				loading: false
			}
		},

		methods: {
			login(){
				if( this.username.length > 0 && this.password.length > 0 ){
					this.loading = true
					setTimeout( () =>{
						this.loading = false
						window.location.href = '/'
						//router.go('/')
					}, 2000)
				}
			}
		}
	}
</script>


<style lang="scss" scoped>
	.login-page{
		.bg{
			background: url("../assets/images/bg/bg12.jpeg") no-repeat center bottom / cover;
			-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
			filter: contrast(200%);
		}

		.gradient{
			background-image: linear-gradient(to right, #FF0075 , #fa6219);
			filter: contrast(300%);
		}

		.login-container{
			.login-wrapper{
				height: 460px;
				.logo{
					background-size: 100%;
				}    
			}
		}
	}
</style>
