<template>
	<section class="mh-100-vh">
		<TopPage title="Playlists" :bg_image="image_top_page" bg_position="center -280px"/>
		
		<div class="featured_playlists d-inline-block w-100 mb-100">
			<div class="wrapper">
				<h2 class="title-block font-32 font-weight-200 m-0 mb-10 pl-15" v-text="'Featured Playlists'"></h2>
				<div class="d-flex flex-wrap">
					<MiniCard 
						v-for="(playlist, index) in featured_playlists"
						:key="index"
						:id="playlist.id"
						:title="playlist.title"
						:subtitle="playlist.subtitle"
						:image="playlist.image"
						:type="playlist.type"
						box_style="out_box"
						class="mb-20"
					/>
				</div>
			</div>
		</div>

		<div class="separator-line"></div>

		<div class="top_playlists d-inline-block w-100 mb-80">
			<div class="wrapper">
				<h2 class="title-block font-32 font-weight-200 m-0 mb-10 pl-15" v-text="'Top Playlists'"></h2>
				<div class="d-flex flex-wrap">
					<MiniCard 
						v-for="(playlist, index) in more_playlists"
						:key="index"
						:id="playlist.id"
						:title="playlist.title"
						:subtitle="playlist.subtitle"
						:image="playlist.image"
						:type="playlist.type"
						box_style="in_box"
					/>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
	import ApiService from '@/services/api'

	import { Keys } from '../config/keys.js'

	import BgTopPage from '../assets/images/bg/bg4.jpg'
	
	import TopPage from '../components/TopPage'
	import Slick from 'vue-slick'
	import MiniCard from '../components/MiniCard'

	export default {
		components: {
			TopPage,
			MiniCard,
			Slick
		},

		data() {
			return{
				keys: Keys,

				image_top_page: BgTopPage,

				featured_playlists: [],
				more_playlists: [],

				show_featured_playlists: false,
				show_more_playlists: false,
			}
		},

		created(){
			this.getFeaturedPlaylists()
			this.getMorePlaylists()
		},

		methods: {
			async getFeaturedPlaylists(){
				const featured_playlists = await ApiService.getFeaturedPlaylists(10)
				featured_playlists.data.playlists.forEach( playlist => {
					this.featured_playlists = [...this.featured_playlists, {
						id: playlist.id,
						title: playlist.name,
						subtitle: `${playlist.favoriteCount} followers`,
						image: `http://direct.napster.com/imageserver/v2/playlists/${playlist.id}/artists/images/1200x400.jpg`,
						type: 'playlists'
					}]
				})

				this.show_featured_playlists = true
			},

			async getMorePlaylists(){
				const more_playlists = await ApiService.getMorePlaylists(10, 10)
				more_playlists.data.playlists.forEach( playlist => {
					this.more_playlists = [...this.more_playlists, {
						id: playlist.id,
						title: playlist.name,
						subtitle: `${playlist.favoriteCount} followers`,
						image: `http://direct.napster.com/imageserver/v2/playlists/${playlist.id}/artists/images/1200x400.jpg`,
						type: 'playlists'
					}]
				})

				this.show_more_playlists = true
			},
		}
	}
</script>