<template>
	<section class="register-page">
		<div class="d-flex">
			<div class="bg-container relative w-50 h-100-vh">
				<h1 class="absolute absolute-h-center absolute-v-center align-center h-50-p color-white z-index-1 font-weight-100 font-54 italic" v-text="'REGISTER'"></h1>
				<div class="bg absolute w-100 h-100 pos-left pos-top h-100"></div>
				<div class="gradient absolute w-100 h-100 pos-left pos-top h-100 opacity-8"></div>
			</div>
			<div class="register-container relative w-50 h-100-vh">
				<div class="register-wrapper max-w-400 absolute absolute-h-center absolute-v-center">
					<router-link to="/" class="logo logo--white w-150-p mb-30"></router-link>
					
					<div class="form-item mb-20">
						<input class="input w-100" type="text" placeholder="First name" v-model="first_name" :disabled="loading">
					</div>
					<div class="form-item mb-20">
						<input class="input w-100" type="text" placeholder="Last name" v-model="last_name" :disabled="loading">
					</div>
					<div class="form-item mb-20">
						<input class="input w-100" type="text" placeholder="Username" v-model="username" :disabled="loading">
					</div>
					<div class="form-item mb-20">
						<input class="input w-100" type="text" placeholder="Email" v-model="your_email" :disabled="loading">
					</div>
					<div class="form-item mb-40">
						<input class="input w-100" type="password" placeholder="Password" v-model="password" :disabled="loading">
					</div>
					
					<div class="d-flex flex-middle mb-40">
						<button class="button mr-20" :class="{'loading' : loading}" @click="register" v-text="'Create account'"></button>
						<span v-text="'or'"></span>
						<a class="button button--border ml-20 no-decoration" href="/login" v-text="'Login'"></a>
					</div>

					<p class="font-13 lh-14" v-text="'This project is a concept redesign using <strong>Vue.JS</strong> + <strong>Napster API</strong>'"></p>
					<p class="font-13 lh-14 mb-40" v-text="'No need to create an account, just fill the fields and pick on create account button.'"></p>
					<p class="font-13 lh-14">Designed and developed by <strong><a class="color-white" href="http://leonardofunez.com" target="_blank">Leonardo Funez</a></strong></p>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
	export default {
		data(){
			return{
				your_email: '',
				first_name: '',
				last_name: '',
				username: '',
				password: '',
				loading: false
			}
		},

		created(){
			
		},

		methods: {
			register(){
				this.loading = true
				setTimeout( () =>{
					this.loading = false
					window.location.href = '/'
				}, 2000)
			}
		}
	}
</script>

<style lang="scss" scoped>
	.register-page{
		.bg{
			background: url("../assets/images/bg/bg13.jpeg") no-repeat center / cover;
			-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
			filter: contrast(230%);
		}

		.gradient{
			background-image: linear-gradient(to right, #FF0075 , #fa6219);
			filter: contrast(300%);
		}

		.register-container{
			.register-wrapper{
				height: 590px;
				.logo{
					background-size: 100%;
				}    
			}
		}
	}
</style>
