<template>
  <header class="gradient-dark-transp fixed z-index-2 h-100-p pl-40 pr-40 pt-40">
    <div class="d-flex flex-between">
      <!-- Search -->
				<div class="search-form relative bg-dark-2 d-flex w-180-p rounded">
					<input
						class="input h-30-p input--bg-transparent w-130-p"
						type="search"
						placeholder="Search"
						@keyup="search($event)"
					/>
					<button class="h-30-p w-50-p input--search bg-transparent"></button>

					<!-- Results -->
						<div
							class="search-results bg-dark-2 rounded overflow-h absolute"
							v-if="search_results"
							@mouseleave="closeSearchResults"
						>
							<div class="tab-buttons d-flex">
								<div
									class="tab-button p-20 font-14 font-weight-600 c-pointer opacity-4"
									:class="{'active' : search_tabs}"
									v-text="'Playlists '"
									@click="changeTab"
								></div>
								<div
									class="tab-button p-20 font-14 font-weight-600 c-pointer opacity-4"
									:class="{'active' : !search_tabs}"
									v-text="'Artists'"
									@click="changeTab"
								></div>
							</div>

							<div class="tab-results overflow-s">
								<!-- Playlists -->
									<div v-if="search_tabs" class="tab-result-rows d-inline-block w-100 p-10">
										<div
											v-if="search_playlists.length === 0"
											class="font-12"
										>There is no any playlist with this name</div>
										<div v-for="(playlist, index) in search_playlists" :key="index">
											<router-link
												v-if="search_playlists.length > 0"
												:to="'/playlists/' + playlist.id"
												tag="div"
												class="tab-result-row p-10 w-100 d-flex flex-middle c-pointer"
												@click.native="closeSearchResults"
											>
												<div
													class="photo h-40-p w-40-p mr-10 overflow-h rounded"
													:style="{'background' : 'url(' + playlist.photo + ') no-repeat center / cover #121b2c'}"
												></div>
												<div class="info flex-1 w-100">
													<h2
														class="name d-inline-block w-100 font-12 m-0 truncate f-left w-100 capitalize"
														v-text="playlist.name"
													></h2>
													<p
														class="d-inline-block w-100 color-gray m-0 mt-5 font-12"
														v-text="playlist.tracks + ' tracks'"
													></p>
												</div>
											</router-link>
										</div>
									</div>
								<!-- .Playlists -->

								<!-- Artists -->
									<div
										v-if="!search_tabs"
										class="tab-result-rows overflow-s d-inline-block w-100 pt-10 pb-10"
									>
										<div
											v-if="search_artists.length === 0"
											class="font-12"
										>There is no any artist with this name</div>
										<div v-for="(artist, index) in search_artists" :key="index">
											<div
												v-if="search_artists.length > 0"
												class="tab-result-row p-20 pt-5 pb-5 w-100 d-inline-block c-pointer"
											>
												<router-link :to="'/artists/' + artist.id" tag="div" @click="closeSearchResults">
													<h2
														class="name d-inline-block w-100 font-12 m-0 truncate f-left mt-15 w-100 capitalize"
														v-text="artist.name"
													></h2>
												</router-link>
											</div>
										</div>
									</div>
								<!-- .Artists -->
							</div>
						</div>
					<!-- .Results -->
				</div>
      <!-- .Search -->

      <div class="sub-menu d-flex">
        <a
          class="menu--login pl-30 ml-30 lh-2 font-14 font-weight-500 c-pointer color-white no-decoration"
          href="/login"
        >Login</a>
        <a
          class="menu--register pl-30 ml-30 lh-2 font-14 font-weight-500 c-pointer color-white no-decoration"
          href="/register"
        >Register</a>
      </div>
    </div>
  </header>
</template>

<script>
import axios from "axios";

import { Keys } from "../config/keys.js";
import { Headers } from "../config/headers.js";

export default {
  data() {
    return {
      keys: Keys,
      headers: Headers,

      search_results: false,
      search_query: "",
      search_artists: [],
      search_playlists: [],
      search_tabs: true
    };
  },

  methods: {
    search(query) {
      this.search_query = query.target.value;
      if (this.search_query.length > 4) {
        axios
          .get(
            `http://api.napster.com/v2.2/search?apikey=${this.keys.api_key}&query=${this.search_query}&type=artist`
          )
          .then(response => {
            this.search_artists = [];
            response.data.search.data.artists.forEach(artist => {
              this.search_artists = [
                ...this.search_artists,
                {
                  id: artist.id,
                  name: artist.name
                }
              ];
            });

            this.search_results = true;
            this.search_tabs = true;
          });

        axios
          .get(
            `http://api.napster.com/v2.2/search?apikey=${this.keys.api_key}&query=${this.search_query}&type=playlist`
          )
          .then(response => {
            this.search_playlists = [];
            response.data.search.data.playlists.forEach(playlist => {
              if (playlist.trackCount > 0) {
                this.search_playlists = [
                  ...this.search_playlists,
                  {
                    id: playlist.id,
                    name: playlist.name,
                    tracks: playlist.trackCount,
                    photo: playlist.images[0].url
                  }
                ];
              }
            });
          })
          .catch(error => console.log(error));
      } else {
      }
    },

    closeSearchResults() {
      this.search_results = false;
      this.search_tabs = true;
    },

    changeTab() {
      this.search_tabs = !this.search_tabs;
    }
  }
};
</script>


<style lang="scss">
header {
  width: calc(100% - 200px);
  // width: 100%;
  // padding-left: 280px;

  // Search
  .search-results {
    top: 30px;
    width: 240px;
    .tab-buttons {
      border-bottom: 2px solid #051124;
      .tab-button {
        border-right: 2px solid #051124;
        &.active {
          opacity: 1;
        }
        &:last-of-type {
          border: 0;
        }
      }
    }

    .tab-results {
      max-height: 250px;
      background: #161f2f;
      .tab-result-rows {
        .tab-result-row {
          &:hover {
            .name {
              color: #ff0075;
            }
          }
        }
      }
    }
  }

  .menu--login {
    background: url("../assets/images/menu/login_white.svg") no-repeat 0 center /
      20px;
  }
  .menu--register {
    background: url("../assets/images/menu/register_white.svg") no-repeat 0
      center / 24px;
  }
}
</style>

