<template>
  <section class="menu-bar bg-dark h-100 w-200-p p-40 fixed z-index-2">
    <router-link to="/" class="logo"></router-link>

    <div class="menu-container trasform-v-center">
      <nav class="main-menu align-left font-14 color-white font-weight-500 mb-40">
        <router-link
          tag="div"
          class="menu--item menu--home pl-30 pt-10 pb-10 mb-5 c-pointer"
          to="/"
          active-class="active"
          exact
        >Home</router-link>
        <router-link
          tag="div"
          class="menu--item menu--explore pl-30 pt-10 pb-10 mb-5 c-pointer"
          to="/explore"
          active-class="active"
          exact
        >Explore</router-link>
        <!-- <router-link tag="div" class="menu--item menu--hear pl-30 pt-10 pb-10 mb-5 c-pointer" to="/hear-this" active-class="active" exact>Hear this</router-link> -->
        <router-link
          tag="div"
          class="menu--item menu--hear pl-30 pt-10 pb-10 mb-5 c-pointer"
          to="/playlists"
          active-class="active"
          exact
        >Playlists</router-link>
      </nav>

      <nav class="main-menu align-left font-14 color-white font-weight-500">
        <h2 class="m-0 mb-20 font-12 uppercase" v-text="'Favorite music'"></h2>
        <router-link
          tag="div"
          class="menu--item menu--playlists pl-30 pt-10 pb-10 mb-5 c-pointer"
          to="/favourite-playlists"
          active-class="active"
          exact
        >Playlists</router-link>
        <router-link
          tag="div"
          class="menu--item menu--albums pl-30 pt-10 pb-10 mb-5 c-pointer"
          to="/favourite-albums"
          active-class="active"
          exact
        >Albums</router-link>
        <router-link
          tag="div"
          class="menu--item menu--tracks pl-30 pt-10 pb-10 mb-5 c-pointer"
          to="/favourite-tracks"
          active-class="active"
          exact
        >Tracks</router-link>
      </nav>
    </div>
  </section>
</template>

<style lang="scss">
.menu-bar {
  &::after {
    content: "";
    position: absolute;
    height: 45%;
    width: 1px;
    background: #192948;
    background-image: linear-gradient(to top, #192948, #051023);
    bottom: 0;
    right: 0;
    margin: auto;
  }
  .main-menu {
    .menu--item {
      position: relative;
      &.menu--home {
        background: url("../assets/images/menu/home_white.svg") no-repeat 0 8px /
          15px;
      }
      &.menu--explore {
        background: url("../assets/images/menu/explore_white.svg") no-repeat 0
          9px / 18px;
      }
      &.menu--hear {
        background: url("../assets/images/menu/hear_white.svg") no-repeat 0 7px /
          18px;
      }
      &.menu--favourite {
        background: url("../assets/images/menu/favourite_white.svg") no-repeat 0
          7px / 17px;
      }
      &.menu--albums {
        background: url("../assets/images/menu/album_white.svg") no-repeat 0px
          9px / 17px;
      }
      &.menu--tracks {
        background: url("../assets/images/menu/musical_note_white.svg")
          no-repeat 0px 9px / 16px;
      }
      &.menu--playlists {
        background: url("../assets/images/menu/albums_white.svg") no-repeat 0
          10px / 18px;
      }
      &:after {
        content: "";
        position: absolute;
        width: 2px;
        height: 0px;
        background: #ff0075;
        left: -40px;
        top: 7px;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
      }
      &.active {
        &:after {
          opacity: 1;
          width: 2px;
          height: 18px;
        }
      }
    }
  }
}
</style>

