<template>
  <router-link :to="'/' + type + '/' + id" tag="div">
    <article
      class="mini-card bg-dark align-left m-15 p-20 c-pointer relative"
      :class="[
				{'rectangle_box' : box_style === 'rectangle'},
				{'big_box' : box_style === 'big_box'},
				{'in_box' : box_style === 'in_box'},
				{'circled_box' : box_style === 'circled'},
				{'out_box' : box_style === 'out_box'},
				{'text_center_box' : text_style === 'center'},
			]"
    >
      <div class="info z-index-2 relative" v-if="box_style !== 'out_box'">
        <h2
          v-text="title"
          class="title m-0 mb-5 no-decoration color-white"
          :class="[box_style === 'rectangle' ? 'uppercase font-12'  : 'capitalize font-14', {'font-18' : box_style === 'big_box'}]"
        ></h2>
        <p v-text="subtitle" class="subtitle m-0 font-12"></p>
      </div>

      <div
        class="like-button z-index-1 absolute pos-bottom pos-left h-50-p w-50-p c-pointer"
        v-if="type === 'albums' || type === 'playlists'"
        :class="[{'like-button--medium w-60-p' : box_style === 'big_box'}, {'like-button--active' : like}]"
      ></div>

      <div
        class="image overflow-h absolute pos-top pos-left w-100 h-100"
        v-if="image"
        :style="{'background' : 'url(' + image + ') no-repeat center top / cover #091629'}"
      ></div>
    </article>

    <div v-if="box_style === 'out_box'" class="pl-20" style="width: 215px;">
      <h2 v-text="title" class="title align-left m-0 mb-5 font-14"></h2>
      <h3 v-text="subtitle" class="subtitle align-left m-0 font-12 opacity-6"></h3>
    </div>
  </router-link>
</template>

<script>
export default {
  props: [
    "id",
    "title",
    "subtitle",
    "image",
    "type",
    "box_style",
    "text_style"
  ],

  data() {
    return {
      like: false
    };
  },

  created() {
    this.getStorageAlbums();
    this.getStoragePlaylists();
  },

  methods: {
    getStorageAlbums() {
      if (localStorage.getItem("napsterAlbums") !== null) {
        let storageAlbums = JSON.parse(localStorage.getItem("napsterAlbums"));
        if (storageAlbums.includes(this.id)) {
          this.like = true;
        }
      }
    },

    getStoragePlaylists() {
      if (localStorage.getItem("napsterPlaylists") !== null) {
        let storagePlaylists = JSON.parse(
          localStorage.getItem("napsterPlaylists")
        );
        if (storagePlaylists.includes(this.id)) {
          this.like = true;
        }
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.mini-card {
  height: 200px;
  width: 200px;
  max-width: 200px;
  border-radius: 10px;
  color: white;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  &:hover {
    box-shadow: 0 0 16px #0000008a;
    .image {
      //background-size: 110% !important;
      opacity: 0.4;
    }
  }

  .like-button {
    display: none;
  }

  // Box type
  &.big_box {
    height: 300px;
    width: 350px;
    max-width: 350px;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 60%;
      left: 0;
      bottom: 0;
      background-image: linear-gradient(transparent, #051124e0);
    }
    .info {
      position: absolute;
      bottom: 25px;
    }
    .image {
      opacity: 1;
    }

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 70px;
      background: linear-gradient(#0000007a, transparent);
      left: 0;
      top: 0;
      z-index: 1;
    }
    .like-button {
      display: block;
      bottom: auto;
      top: 0;
    }
  }
  &.in_box {
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 60%;
      left: 0;
      bottom: 0;
      background-image: linear-gradient(transparent, #051124e0);
      z-index: 1;
    }

    // Like
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 70px;
      background: linear-gradient(#0000009a, transparent);
      left: 0;
      top: 0;
    }
    .like-button {
      top: 0;
      bottom: auto;
      display: block;
    }
    // .Like

    .info {
      position: absolute;
      bottom: 20px;
    }
    .image {
      opacity: 1;
    }
  }
  &.out_box {
    box-shadow: 0 0 16px #04102352;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 70px;
      background: linear-gradient(transparent, #0000009a);
      left: 0;
      bottom: 0;
    }
    .like-button {
      display: block;
    }
    .image {
      opacity: 1;
      min-height: 200px;
      min-width: 200px;
    }
    &:hover {
      .image {
        opacity: 0.6;
      }
    }
  }
  &.rectangle_box {
    height: 120px;
    .image {
      min-height: 100%;
      min-width: 100%;
    }
  }
  &.circled_box {
    border-radius: 50%;
    overflow: hidden;
    height: 180px;
    width: 180px;
    max-width: 180px;
    .info {
      .title {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 500;
        font-size: 12px;
      }
    }
    .image {
      background-size: 150% !important;
    }
    &:hover {
      .image {
        background-size: 160% !important;
      }
    }
  }
  // .Box type

  &.text_center_box {
    .info {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      width: 100%;
      left: 0;
      text-align: center;
    }
  }
  .image {
    opacity: 0.5;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
  }
}

// ****** MEDIA ****** //
@media screen and (max-width: 1380px) {
  .mini-card {
    &.big_box {
      height: 276px;
      width: 276px;
    }

    &.circled_box {
      height: 155px;
      width: 155px;
    }

    &.rectangle_box {
      width: 150px;
      height: 100px;
    }
  }
}
</style>



