<template>
	<section class="player-component w-100 fixed pos-bottom z-index-2 h-80-p bg-dark-3">
		<div class="progress-bar w-100 h-1-p bg-dark relative">
			<div class="progress-bar-current bg-red absolute pos-right h-100 w-100" :style="{'width' : durationBar + '%'}"></div>
		</div>

		<div class="d-flex flex-between h-100 flex-middle pl-40 pr-40">
			<div class="w-240-p">
				<div class="current-track d-flex flex-middle" v-if="GET_CURRENT_TRACK[0]">
					<div class="photo rounded h-50-p w-50-p bg-dark-2 mr-10" :style="{'background' : 'url(' + GET_CURRENT_TRACK[0].album_photo + ') no-repeat center / cover'}"></div>
					<div class="info color-white">
						<h2 class="album-name font-14 m-0 mb-5" v-text="GET_CURRENT_TRACK[0].track_name"></h2>
						<p class="album-name font-12 m-0" v-text="GET_CURRENT_TRACK[0].album_name"></p>
					</div>
				</div>
			</div>

			<div class="volume d-flex flex-middle w-120-p">
				<div class="speaker h-20-p w-20-p mr-10 c-pointer" :class="{'mute': volume < 1 || !mute, 'low' : volume > 0, 'mid' : volume > 5}" @click="muteVolume"></div>
				<input type="range" class="slider" min="0" max="10" v-model="volume" @change="changeVolume($event)">
			</div>
		</div>

		<div class="controls d-flex flex-middle absolute absolute-h-center pos-top">
			<div class="color-white font-10 italic font-weight-800 mr-15 color-white opacity-0" :class="{'opacity-1' : GET_CURRENT_TRACK[0]}" v-text="track_current_time"></div>
			
			<div class="shuffle relative c-pointer w-40-p h-60-p" @click="shuffleTrackList">
				<span class="shuffle-on absolute bg-green h-10-p w-10-p circled" v-if="shuffle === 'on'"></span>
			</div>
			<div class="previous c-pointer w-40-p h-60-p" @click="prevTrack"></div>
			<div class="play c-pointer w-70-p h-60-p" v-if="!GET_PLAYING" @click="playTrack"></div>
			<div class="pause c-pointer w-70-p h-60-p" v-if="GET_PLAYING" @click="pauseTrack"></div>
			<div class="next c-pointer w-40-p h-60-p" @click="nextTrack"></div>
			<div class="repeat relative c-pointer w-40-p h-60-p" @click="repeatTrack">
				<span class="repeat-one absolute align-center circled color-green bg-dark-3 font-10 font-weight-800 italic" v-text="'1'" v-if="repeat === 'one'"></span>
				<span class="repeat-all absolute bg-green h-10-p w-10-p circled" v-if="repeat === 'all'"></span>
			</div>

			<div class="color-white font-10 italic font-weight-800 ml-15 color-white opacity-0" :class="{'opacity-1' : GET_CURRENT_TRACK[0]}" v-text="'0:30'"></div>
		</div>
	</section>
</template>

<script>
	//VUEX
	import { mapStore, mapGetters, mapActions } from 'vuex'
	
	export default {
		data() {
			return {
				track: new Audio(),
				track_src: '',
				track_duration: '0:00',
				track_current_time: '0:00',
				track_playing: false,

				repeat: 'all',
				shuffle: 'off',

				durationBar: '100',
				volume: 2,
				mute: true
			}
		},

		methods: {
			...mapActions(['SET_CURRENT_TRACK', 'SET_TRACK_LIST', 'SET_PLAYING', 'SET_REPEAT', 'SET_SHUFFLE', 'SET_EMPTY_CURRENT_TRACK']),

			playTrack(){
				if( this.GET_CURRENT_TRACK.album_id !== ""){
					this.SET_PLAYING(true)
					this.track.src = this.GET_CURRENT_TRACK[0].track_url
					this.track.play()
					this.track.ontimeupdate = () => {
						this.track_duration = this.getTrackTime(this.track.duration)
						this.track_current_time = this.getTrackTime(this.track.currentTime)

						this.durationBar = 100 - (parseInt(this.track.currentTime * 33 / 10) + 1)
						if(this.durationBar === 0){
							this.resetPlayer()
							if(this.GET_REPEAT === 'off'){
								this.nextTrack()
							}else if( this.GET_REPEAT === 'one' ){
								setTimeout( () => {
									this.track.play()
									this.track_playing = true
									this.SET_PLAYING(true)
								}, 500)
							}
						}
					}
				}
			},

			pauseTrack(){
				this.SET_PLAYING(false)
				this.track.pause()
				this.track_playing = false
			},

			prevTrack(){
				let current_track = this.GET_CURRENT_TRACK[0]
				let index_next_track = ''
				let prev_track = ''
				let new_track = ''

				current_track.track_index === 0 ? index_next_track = this.GET_TRACK_LIST[0].length -1 : index_next_track = current_track.track_index - 1

				if( this.GET_SHUFFLE === 'off' ){
					prev_track = this.GET_TRACK_LIST[0][index_next_track]
				}else if(this.GET_SHUFFLE === 'on'){
					prev_track = this.GET_TRACK_LIST[0][Math.floor(Math.random() * this.GET_TRACK_LIST[0].length)]
				}

				new_track = {
					track_index: index_next_track,
					track_id: prev_track.id,
					track_name: prev_track.name,
					track_url: prev_track.url,
					album_id: prev_track.album_id ? prev_track.album_id : current_track.album_id,
					album_name: prev_track.album_name ? prev_track.album_name : current_track.album_name,
					album_photo: prev_track.album_photo ? prev_track.album_photo : current_track.album_photo,
				}

				this.resetPlayer()
				this.track.src = new_track.track_url
				this.track.play()
				this.SET_CURRENT_TRACK(new_track)
				this.SET_PLAYING(true)
			},

			nextTrack(){
				let current_track = this.GET_CURRENT_TRACK[0]
				let index_next_track = ''
				let next_track = ''
				let new_track = ''
				
				current_track.track_index === this.GET_TRACK_LIST[0].length -1 ? index_next_track = 0 : index_next_track = current_track.track_index + 1

				if( this.GET_SHUFFLE === 'off' ){
					next_track = this.GET_TRACK_LIST[0][index_next_track]
				}else if(this.GET_SHUFFLE === 'on'){
					next_track = this.GET_TRACK_LIST[0][Math.floor(Math.random() * this.GET_TRACK_LIST[0].length)]
				}
				
				new_track = {
					track_index: index_next_track,
					track_id: next_track.id,
					track_name: next_track.name,
					track_url: next_track.url,
					album_id: next_track.album_id ? next_track.album_id : current_track.album_id,
					album_name: next_track.album_name ? next_track.album_name : current_track.album_name,
					album_photo: next_track.album_photo ? next_track.album_photo : current_track.album_photo,
				}

				this.resetPlayer()
				this.track.src = new_track.track_url
				this.track.play()
				this.SET_CURRENT_TRACK(new_track)
				this.SET_PLAYING(true)
			},

			getTrackTime(duration){
				let s = parseInt(duration % 60)
				if (s < 10) s = '0' + s
				let m = parseInt((duration / 60) % 60)

				return m + ':' + s
			},

			resetPlayer(){
				this.track_duration = '0:00'
				this.durationBar = '100'
				this.track_current_time = '0:00'
				this.track_playing = false
				this.SET_PLAYING(false)
			},

			shuffleTrackList(){
				this.shuffle === 'off' ? this.shuffle = 'on' : this.shuffle = 'off'
				this.SET_SHUFFLE(this.shuffle)
			},

			repeatTrack(){
				this.repeat === 'one' ? this.repeat = 'all' : this.repeat = 'one'
				this.SET_REPEAT(this.repeat)
			},

			changeVolume(e){
				this.volume = e.target.value
				this.track.volume = e.target.value / 10
			},

			muteVolume(){
				this.mute = !this.mute
				this.track.muted = !this.mute;
			}
		},
		
		computed: {
			...mapGetters(['GET_CURRENT_TRACK', 'GET_TRACK_LIST', 'GET_PLAYING', 'GET_REPEAT', 'GET_SHUFFLE'])
		},

		watch: {
			GET_CURRENT_TRACK(){
				this.resetPlayer()
				this.playTrack()
			},

			GET_PLAYING(){
				if (this.GET_PLAYING === true) {
					this.playTrack()
				}else{
					this.pauseTrack()
				}
			}
		}
	}
</script>


<style lang="scss" scoped>
	.player-component{
		.progress-bar{
			background-image: linear-gradient(to right, #FF0075,#fa6219);
			.progress-bar-current{
				background: #192948;
			}
		}

		.volume{
			.speaker{
				&.low{
					background: url("../assets/images/player/volume_low_white.svg") no-repeat center / 14px;
				}
				&.mid{
					background: url("../assets/images/player/volume_mid_white.svg") no-repeat 2px center / 14px;
				}
				&.mute{
					background: url("../assets/images/player/volume_mute_white.svg") no-repeat center / 14px;
				}
			}
		}

		.controls{
			width: 300px;
			top: 12px;
			div{
				&.shuffle{
					background: url("../assets/images/player/shuffle_gradient.svg") no-repeat center / 19px;
					.shuffle-on{
						right: 24px;
						top: 20px;
						border: 3px solid #0a1425;
					}
				}
				&.previous{
					background: url("../assets/images/player/previous_gradient.svg") no-repeat center / 25px;
				}
				&.play{
					background: url("../assets/images/player/play_gradient.svg") no-repeat center / 25px;
				}
				&.pause{
					background: url("../assets/images/player/pause_gradient.svg") no-repeat center / 25px;
				}
				&.next{
					background: url("../assets/images/player/forward_gradient.svg") no-repeat center / 25px;
				}
				&.repeat{
					background: url("../assets/images/player/repeat_gradient.svg") no-repeat center / 20px;
					.repeat-one{
						right: 6px;
						top: 20px;
						padding: 1px 3px 0px 2px;
					}
					.repeat-all{
						right: 6px;
						top: 20px;
						border: 3px solid #0a1425;
					}
				}
			}
		}
	}

	input[type=range].slider {
		-webkit-appearance: none;
		width: 100%;
		margin: 0px 0;
		background: #192948;
	}
	input[type=range].slider:focus {
		outline: none;
	}
	input[type=range].slider::-webkit-slider-runnable-track {
		width: 100%;
		height: 4px;
		cursor: pointer;
		background: #192948;
		border-radius: 4px;
	}
	input[type=range].slider::-webkit-slider-thumb {
		height: 10px;
		width: 10px;
		background: #FF0075;
		border-radius: 50%;
		cursor: pointer;
		-webkit-appearance: none;
		margin-top: 0px;
		position: relative;
		top: -3px;
	}
	input[type=range].slider::-moz-range-track {
		width: 100%;
		height: 32px;
		cursor: pointer;
	}
	input[type=range].slider::-moz-range-thumb {
		height: 10px;
		width: 10px;
		background: #FF0075;
		cursor: pointer;
		border-radius: 50%;
		position: relative;
		top: -2px;
	}
	input[type=range].slider::-ms-track {
		width: 100%;
		height: 32px;
		cursor: pointer;
		background: transparent;
		border-color: transparent;
		color: transparent;
	}
	input[type=range].slider::-ms-thumb {
		height: 10px;
		width: 10px;
		background: #FF0075;
		cursor: pointer;
		position: relative;
		border-radius: 50%;
		top: -2px;
	}
</style>

