<template>
	<div class="top-page" :class="{'no-margin' : margin === 'no-margin'}">
		<div class="bg absolute w-100 h-100" :style="{'background-image' : 'url(' + bg_image + ')', 'background-position' : bg_position}"></div>
		<div class="wrapper z-index-1 relative color-white align-center">
			<h1 class="page-title m-0 font-weight-100 lh-1" v-text="title"></h1>
			<p class="page-descrip m-0 font-30 mt-10" v-text="subtitle" v-if="subtitle"></p>
			<small class="page-smalltitle d-block mt-20" v-text="smalltitle" v-if="smalltitle"></small>
		</div>
		<div class="overlay w-100 h-100 absolute"></div>

		<span class="absolute font-weight-500 font-13 right-40-p bottom-40-p" v-text="'Author: ' + author" v-if="author"></span>
	</div>
</template>

<script>
export default {
	props: ['title', 'subtitle', 'smalltitle', 'author', 'bg_image', 'bg_position', 'margin']
}
</script>


<style lang="scss" scoped>
	.top-page{
		padding: 110px 0;
		position: relative;
		background: #121b2c;
		margin-bottom: 80px;
		&.no-margin{
			margin-bottom: 0;
		}
		.bg{
			background-repeat: no-repeat;
			background-size: cover;
			background-attachment: fixed;
			top: 0;
			left: 0;
		}
		.page-title{
			font-size: 120px;
			letter-spacing: 24px;
		}
		.page-descrip{
			letter-spacing: 7px;
		}
		.overlay{
			left: 0;
			bottom: 0;
			background-image: linear-gradient(transparent, #051124);
		}
	}
</style>

