<template>
	<div id="app" :class="'main-page main-page--' + route_name">		
		<MenuBar v-if="!hide_components" />
		
		<div class="router-container bg-dark color-white w-100 mh-100-vh pb-60" :class="{'show-menu-bar' : !hide_components}">
			<Header v-if="!hide_components"/>
			<router-view :key="$route.fullPath"/>
		</div>
		
		<Player v-if="!hide_components"/>
	</div>
</template>

<script>
	import Header from './components/Header'
	import MenuBar from './components/MenuBar'
	import Player from './components/Player'
	export default {
		components: { Header, MenuBar, Player },
		
		data(){
			return{
				routeName: this.$route.name,
				current_uri: this.$route.name,
				hide_components: false,

				route_name: this.$route.name
			}
		},

		created(){
			this.hide_components = true ? this.current_uri === 'login' || this.current_uri === 'register' : false
		},

		updated(){
			this.hide_components = true ? this.current_uri === 'login' || this.current_uri === 'register' : false
		}
	}
</script>


<style lang="scss">
	@import "./assets/css/normalize.css";
	@import "./assets/css/layout.css";
	@import "./assets/css/slick.css";
	*{
		box-sizing: border-box;
	}
	*:focus,
	*:active{
		outline: 0
	}
	body{
		// background: #4718a2;
		background: #0b1425;
	}
	.main-page{
		font-family: "Avenir", Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: #020c1f;

		&.main-page--login,
		&.main-page--register{
			.router-container{
				padding: 0
			}	
		}

		.router-container{
			padding-left: 200px;
		}

		.wrapper{
			width: 100%;
			max-width: 1150px;
			margin: 0 auto;
		}

		.top-playlist-bar,
		.top-album-bar{
			&:after{
				content: "";
				background: linear-gradient(to right, #051023, #0e1e38, #051023);
				width: calc(100% -  80px);
				height: 1px;
				position: absolute;
				bottom: 0;
			}
		}

		.title-block{
			position: relative;
			padding-bottom: 40px;
			&:after{
				content: "";
				background: url("./assets/images/bg/titles_gradient.svg") no-repeat 0 / 50px;
				position: absolute;
				left: 17px;
				top: 60px;
				width: 100px;
				height: 4px;
			}
		}

		.play-all-button{
			width: 110px;
			.play-button{
				display: none;
				&.is_not_paused{
					display: flex;
				}
			}
			.pause-button{
				display: flex;
				&.is_paused{
					display: none;
				}
			}
		}

		.track-row{	
			.play-button{
				background: url('./assets/images/player/play_gradient.svg') no-repeat center / 12px;
				display: block;
			}
			.pause-button{
				background: url('./assets/images/player/pause_gradient.svg') no-repeat 23px center / 11px;
				display: none;
			}

			&.track-row--active{
				.play-button{
					display: none;
					&.is_paused{
						display: block;
					}
				}
				.pause-button{
					display: block;
					&.is_paused{
						display: none;
					}
				}
			}
		}
	}

	// ****** MEDIA ****** //
	@media screen and (max-width: 1380px) {
		.main-page{
			.wrapper{
				max-width: 920px;
			}
		}
	}
</style>
